header {
    top: 0;
    z-index: 99;
    width: 100vw;
    position: fixed;
    height: vw(var(--header-size));
    background-color: #191919;
    border-bottom: var(--g-border);

    .inner {
        height: 100%;
        display: grid;
        padding: 0 vw(var(--g-padding-container));
        grid-template-columns: vw(344) 1fr vw(344);


        .timer {
            gap: vw(11);
            display: flex;
            color: #F7F7F7;
            align-items: center;

            .location {
                font-weight: 500;
            }

            .line {
                flex: 0 0 1px;
                height: vw(32);
                background-color: var(--color-gold);
            }

            .time {
                color: #C9C9C9;
            }
        }

        .logo {
            height: 100%;
            display: flex;
            margin: 0 auto;
            align-items: center;

            svg {
                width: vw(53.8);
                height: vw(51.7);
            }
        }
    }
}

.header-menu {
    display: none;
}