#main-header {
    top: 0;
    z-index: 91;
    height: vw(111);
    position: fixed;
    background-color: #FFFAF5;


    &.page-career,
    &.header-border-bottom {

        &:after {
            top: 0;
            left: 0;
            z-index: -1;
            width: 100vw;
            content: '';
            height: vw(111);
            position: absolute;
            transform-origin: top;
            background-color: #FFFAF5;
            border-bottom: vw(1) solid #565656;
            transition: transform .25s ease-in-out;


            @include mobile {
                height: vw(65);
                transform: scaleY(1.36);
            }
        }
    }

    @include mobile {
        height: vw(88);
        background-color: transparent;

        &:after {
            top: 0;
            left: 0;
            z-index: -1;
            width: 100vw;
            content: '';
            height: vw(65);
            position: absolute;
            transform: scaleY(1.36);
            transform-origin: top;
            background-color: #FFFAF5;
            transition: transform .25s ease-in-out;
        }

        &.active {
            &::after {
                transform: scaleY(1);
                border-bottom: 1px solid #565656;
            }
        }
    }

    .inner {
        display: grid;
        padding: 0 vw(35);
        grid-column: 3/11;
        grid-template-columns: 30% 1fr 30%;

        @include mobile {
            padding: vw(13) 0 0;
            grid-column: 1/13;
        }

        .close-menu {
            opacity: 0;
            z-index: 3;
            top: vw(40);
            width: vw(30);
            height: vw(30);
            cursor: pointer;
            position: absolute;
            pointer-events: none;

            &.active {
                opacity: 1;
                pointer-events: all;
            }

        }


        .burger {
            z-index: 2;
            display: flex;
            position: relative;
            align-items: center;


            @include mobile {
                padding-top: vw(8);
                align-items: flex-start;
            }

            .inner-line {
                display: flex;
                overflow: hidden;
                cursor: pointer;
                height: vw(20);
                flex-direction: column;
                justify-content: space-between;
                transition: transform .45s var(--cubic-bezier);

                &.active {
                    opacity: 0;
                    pointer-events: none;
                }

                @include mobile {
                    height: 14px;
                }

                .line {
                    width: vw(35);
                    height: 1.2px;
                    transform-origin: right;
                    transition: width 1s var(--cubic-bezier);
                    background-color: #212121;

                    @include mobile {
                        width: 25px;
                        height: 1.6px;
                    }

                    &:nth-of-type(2) {
                        width: vw(21);

                        @include mobile {
                            width: 15px;
                        }
                    }
                }
            }


            @include hover {
                .inner-line {
                    // transform: rotate(-45deg);

                    .line {
                        // transform: translateY(vw(-10.2));

                        // &:nth-of-type(1) {
                        //     opacity: 0;
                        // }

                        &:nth-of-type(2) {
                            width: vw(35);
                            transform-origin: left;
                            // transform: translateX(-110%);
                        }
                    }
                }
            }
        }

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: vw(35);
                height: vw(61);

                @include mobile {
                    width: vw(23);
                    height: vw(43);
                    transform: scale(1.4);
                    transform-origin: top center;
                    transition: transform .25s ease-in-out;
                }
            }

            &.active {
                svg {
                    transform: scale(1);
                }
            }
        }

        .button-reserve {
            display: flex;
            align-items: center;
            color: #2B2B2B;
            font-size: vw(17);
            justify-content: flex-end;
            letter-spacing: vw(0.43);

            .close-menu {
                opacity: 1;
                display: none;
                pointer-events: all;
            }


            @include mobile {
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.35px;
                align-items: flex-start;
            }

            .button {
                cursor: pointer;
            }

            &.active {
                .close-menu {
                    display: block;

                    @include mobile {
                        display: none;
                    }
                }

                .button {
                    display: none !important;
                }
            }

        }


    }
}


.header-menu {
    top: vw(111);
    left: 0;
    width: 100vw;
    bottom: 0;
    opacity: 0;
    z-index: 99;
    position: fixed;
    pointer-events: none;
    backdrop-filter: blur(4px);
    background-color: rgba(#FFFAF5, 0.9);



    .logo {
        display: none;
    }

    @include mobile {
        top: 0;

        &::after {
            top: 0;
            left: 0;
            content: '';
            top: vw(62);
            height: 1px;
            width: 100vw;
            pointer-events: none;
            position: absolute;
            background-color: #333333;
        }

        .logo {
            left: 0;
            top: vw(13);
            z-index: 6;
            width: 100%;
            display: flex;
            position: absolute;
            justify-content: center;

            svg {
                width: vw(23);
                height: vw(43);
            }
        }

        .button-reserve {
            width: 100%;
            margin-top: vw(35);

            a {
                width: 100%;
                display: flex;
                height: vw(49);
                color: #FFFFFF;
                align-items: center;
                font-size: vw(20);
                letter-spacing: vw(2);
                justify-content: center;
                background: #7A7A7A;
                text-transform: uppercase;
            }
        }
    }

    &.active {
        pointer-events: all;
    }

    .menu-wrapper {
        grid-column: 3/11;
        padding: vw(50) 0;
        position: relative;


        @include mobile {
            padding-top: vw(21);
        }
    }

    .close-menu {
        z-index: 9;
        display: none;
        grid-column: 3/4;
        padding-left: vw(35);
        position: relative;
        margin-bottom: vw(50);

        @include mobile {
            display: block;
            padding-left: 0;
            margin-bottom: vw(19);
        }

        .inner {
            width: vw(22);
            height: vw(22);
            cursor: pointer;
            position: relative;
            transform: rotate(45deg);

            .line {
                top: 0;
                left: 0;
                position: absolute;
                background-color: #212121;

                &:first-child {
                    left: 49%;
                    width: vw(1.6);
                    height: 100%;
                }

                &:last-child {
                    top: 49%;
                    width: 100%;
                    height: vw(1.6);
                }
            }
        }
    }


    ul {
        margin: 0;
        max-width: vw(343);
    }

    .menu-list {

        &.reserve-list {
            top: vw(50);
            right: 0;
            display: none;
            position: absolute;
            transform: translateX(vw(-70));

            @include mobile {
                left: 0;
                right: 0;
                top: vw(67);
                // display: block;
                transform: none;
            }
        }

        ul {
            padding: 0;
            list-style: none;
            padding-left: vw(35);

            li {
                width: vw(343);
                overflow: hidden;

                @include mobile {
                    width: 100%;
                }

                &.menu-item-has-children {
                    border-bottom: 1px solid #333333;

                    .has-children-link-wrapper {
                        border-bottom: none;
                    }
                }

                ul {
                    max-height: 0;
                    padding-left: 0;
                    transition: max-height .35s var(--cubic-bezier);

                    &.active {
                        max-height: vw(500);
                    }

                    li {
                        a {
                            padding-left: vw(20);
                        }

                        &:last-child {
                            a {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }


            @include mobile {
                padding-left: 0;
                // padding-top: vw(40);
            }


            a {
                display: flex;
                color: #333333;
                font-size: vw(28);
                line-height: 1.2;
                overflow: hidden;
                padding: vw(10) 0;
                border-bottom: 1px solid #333333;
                transition: all .45s var(--cubic-bezier);
                font-family: var(--font-main);
                padding-left: vw(4.6);

                &.has-children-link-wrapper {
                    align-items: flex-end;
                    justify-content: space-between;

                    svg {
                        width: vw(26.6);
                        height: vw(14);
                        transition: transform .45s var(--cubic-bezier);
                        margin-bottom: vw(9);
                    }

                    &.active {
                        svg {
                            transform: rotate(180deg);
                        }
                    }
                }


                h3 {
                    font-style: normal;
                    margin-bottom: 0;
                    font-size: vw(24);
                    font-weight: 500;
                    letter-spacing: vw(4.97);
                    font-family: var(--font-avant);
                }



                .link-inner-wrapper {
                    gap: vw(13);
                    display: flex;
                    align-items: center;
                    // text-transform: uppercase;
                    font-style: normal !important;
                    transition: transform .45s var(--cubic-bezier);
                }

                &:first-child {

                    @include mobile {
                        border-top: none;
                    }
                }


                @include hover {
                    .link-inner-wrapper {
                        opacity: 0.7;
                    }
                }
            }

            .venue-menu {
                a {
                    border-color: rgba(#3D3D3D, 0.2);
                }

                .link-inner-wrapper {
                    display: flex;
                    font-size: vw(17);
                    color: #3D3D3D;
                    font-weight: 600;
                    align-items: flex-end;
                    letter-spacing: vw(1.7);
                    text-transform: uppercase;
                    font-style: italic !important;
                    font-family: var(--font-main);
                }

                &.bistro {

                    a {
                        h3 {
                            color: #4B5649;
                        }
                    }
                }

                &.cafe {
                    a {
                        h3 {
                            color: #5C7E47;
                        }
                    }
                }

                &.trattoria {
                    a {
                        h3 {
                            color: #5B2528;
                        }
                    }
                }
            }
        }
    }


    &.active-booking {

        .menu-list:not(.reserve-list) {
            display: none !important;
        }

        .reserve-list {
            display: block;
        }


        .close-menu {
            right: 0;
            position: absolute;
        }
    }
}