.editor-styles-wrapper{
    .wp-block{
        margin:0;
        width: 100%;
        max-width: unset;
    }

}

h1, h2, h3, h4, h5, h6, p{

    &.block-editor-rich-text__editable{
        opacity: 1;
        transform: none;
    }
}


.block-editor-rich-text__editable{
    opacity: 1;
    transform: none;
}

.block-editor-block-list__block{
    &.reveal{
        img{
            clip-path: inset(0% 0% 0% 0%);
        }
    }
}