@import "./../../assets//styles/utils/functions";

.background-with-label {
  width: 100vw;
  height: vw(800);
  position: relative;

  @include mobile {
    height: auto;
  }

  figure {
    width: 100%;
    height: 100%;

    @include mobile {
      height: vw(362);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .label {
    bottom: 0;
    z-index: 99;
    height: vw(55);
    display: flex;
    width: vw(600);
    left: vw(960);
    color: #f7f7f7;
    font-size: vw(28);
    align-items: center;
    position: absolute;
    line-height: vw(33);
    letter-spacing: -0.006em;
    justify-content: center;
    background-color: #262013;

    @include mobile {
      left: 0;
      width: 100%;
      font-size: vw(18);
      position: relative;
      letter-spacing: -0.017em;
    }
  }
}
