@import "./../../assets//styles/utils/functions";

.two-grid-column-card-alt {
  padding: vw(31) 0 0;
  position: relative;

  @include mobile {
    padding-top: vw(63);
    padding-bottom: 0;
  }

  &:after,
  &::before {
    width: vw(2);
    top: vw(31);
    z-index: 1;
    bottom: 0;
    height: auto;
    content: "";
    position: absolute;
    background-color: #bfbfbf;

    @include mobile {
      display: none;
    }
  }

  &::before {
    left: vw(var(--g-outer-padding));
  }

  &:after {
    right: vw(var(--g-outer-padding));
  }

  .content {
    z-index: 2;
    display: grid;
    position: relative;
    border-bottom: vw(2) solid #937d4d;
    grid-template-columns: repeat(2, 1fr);

    @include mobile {
      display: block;
      border-bottom: 0;
    }

    .card-wrapper {
      &-a {
        gap: vw(28);
        width: 100%;
        display: flex;
        height: vw(92.6);
        position: relative;
        align-items: center;
        border-top: vw(2) solid rgba(#414042, 0.4);
        border-bottom: vw(2) solid rgba(#414042, 0.4);
        padding: 0 vw(var(--g-outer-padding));

        @include mobile {
          gap: vw(14);
          height: auto;
          align-items: flex-start;
          padding: vw(31) vw(var(--g-padding-container)) vw(25);
        }

        .icon {
          width: vw(43);
          display: flex;
          height: vw(40);
          margin-left: vw(28);
          align-items: center;
          border: 1.5px solid #afafaf;
          justify-content: center;

          @include mobile {
            margin: 0;
            height: vw(44);
            flex: 0 0 vw(47.5);
            transform: translateY(vw(7));
          }

          svg {
            width: vw(24);
            height: vw(24);
          }
        }

        h2 {
          font-size: vw(35);
          color: #231e14;
          margin-bottom: 0;

          @include mobile {
            font-size: vw(30);
            line-height: vw(36);
          }
        }
      }

      &-b {
        padding: 0 vw(var(--g-outer-padding));

        @include mobile {
          padding: vw(22) vw(var(--g-padding-container)) vw(68);
        }

        .description {
          height: vw(221);
          max-width: vw(589);
          padding-top: vw(18);
          padding-left: vw(98);
          font-size: vw(21);
          color: #3d3122;

          @include mobile {
            padding: 0;
            height: auto;
            font-size: vw(18);
            color: #353535;
          }

          &.amenity-list-wrapper {
            padding-left: vw(55);
            padding-top: vw(22);

            @include mobile {
              padding-top: 0;
              padding-left: vw(15);
            }
          }

          .amenity-list {
            gap: 0;
            margin: 0;
            row-gap: vw(2);
            display: grid;
            padding-left: 0;
            max-width: vw(506);
            // grid-template-columns: repeat(2, 1fr);
            grid-auto-flow: column;
            counter-reset: list-counter;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, auto);

            @include mobile {
              grid-auto-flow: unset;
              grid-template-columns: 1fr;
            }

            li {
              gap: vw(16);
              display: flex;
              color: #3d3122;
              list-style: none;
              font-size: vw(21);
              position: relative;
              counter-increment: list-counter;

              @include mobile {
                line-height: vw(23);
              }

              &::before {
                top: 0;
                left: vw(-40);
                width: vw(30);
                color: #937d4d;
                display: block;
                text-align: right;
                position: relative;
                content: counter(list-counter) ".";

                @include mobile {
                  left: vw(-5);
                }
              }

              .num {
                display: none;
                flex: 0 0 vw(30);
                color: #937d4d;
                opacity: 0.2;
                justify-content: space-between;

                .amenity-item {
                  flex: 0 0 vw(20);
                  text-align: right;
                  justify-content: flex-end;
                }
              }
            }
          }
        }
      }

      &:nth-of-type(even) {
        .card-wrapper-a {
          padding-left: 0;

          @include mobile {
            padding-left: vw(var(--g-padding-container));

            &:before {
              content: "";
              height: 100%;
              position: absolute;
              background-color: #937d4d;
              width: vw(var(--g-outer-padding));
              right: 0;
              top: 0;
              width: vw(21);
            }
          }
        }

        .card-wrapper-b {
          padding-left: 0;

          @include mobile {
            padding-left: vw(var(--g-padding-container));
          }
        }
      }

      &:nth-of-type(odd) {
        border-right: vw(2) solid #bfbfbf;

        @include mobile {
          border-right: 0;
        }

        .card-wrapper-a {
          padding-right: 0;

          &:before {
            left: 0;
            content: "";
            height: 100%;
            position: absolute;
            background-color: #937d4d;
            width: vw(var(--g-outer-padding));

            @include mobile {
              right: 0;
              top: 0;
              left: unset;
              width: vw(21);
            }
          }
        }

        .card-wrapper-b {
          padding-right: 0;

          @include mobile {
            padding-right: vw(var(--g-padding-container));
          }
        }
      }

      &:last-child {
        @include mobile {
          padding-bottom: vw(10);
          border-bottom: vw(2) solid var(--color-gold);
        }
      }
    }
  }

  .timeline-list {
    margin-bottom: vw(9);

    @include mobile {
      margin-bottom: vw(23);
    }

    &:first-child {
      @include mobile {
        margin-top: vw(11);
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
    .group {
      gap: vw(23);
      display: grid;
      font-size: vw(21);
      grid-template-columns: vw(170) 1fr;

      @include mobile {
        display: block;
        font-size: vw(18);
      }

      .value {
        font-weight: var(--font-semi-bold);
        color: #937d4d;

        @include mobile {
          margin-top: vw(3);
        }
      }
    }
  }
}
