@import "./../../assets//styles/utils/functions";

.two-column-text-title {
    padding: vw(89) 0;

    @include mobile {
        padding: vw(41) 0 vw(58) !important;
    }


    .grid-inner-wrapper {
        h2 {
            margin-bottom: vw(62);

            @include mobile {
                // max-width: vw(260);
                position: relative;
                margin-bottom: vw(11) !important;
                padding-bottom: vw(36);

                &::before,
                &::after {
                    left: 0;
                    content: '';
                    height: vw(1.2);
                    width: vw(130);
                    position: absolute;

                    @include mobile {
                        width: 58px;
                        height: 1.6px;
                    }
                }


                &::after {
                    height: vw(1.6);
                    bottom: vw(1.8);
                    background-color: #EEE9E5;

                    @include mobile {
                        bottom: 1.8px;
                        height: 1.6px;
                    }
                }

                &::before {
                    bottom: 0;
                    background-color: #C6C5C6;
                }
            }
        }

        .column {
            gap: vw(32);
            display: grid;
            grid-template-columns: 1fr 1fr;

            @include mobile {
                display: block !important;

                div {
                    margin-bottom: vw(29);
                }
            }
        }
    }
}