// Responsive
$r-bigDesktop: 1920;
$r-desktop: 1440;
$r-tablet: 768;
$r-phone: 480;

// Color
$c-primary: #fff;
$c-secondary: #68039b;
$c-tertiary: #000;
$c-text-primary: #191f23;
$c-text-secondary: #fff;

// Fonts
$f-roboto: "Roboto", sans-serif;

// Z-Index
$z-indexes: (
    "noscript",
    "navigation",
    "footer",
    "content",
    "canvas"
);