@import "./../../assets//styles/utils/functions";

.vunue-detail {
    width: 100vw;
    overflow: hidden;

    .banner {
        width: 100vw;
        height: vw(601);

        @include mobile {
            height: vw(286);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .top-detail {
        margin-top: vw(91);

        @include mobile {
            margin-top: vw(27);
        }

        .logo {
            grid-column: 3/6;
            padding-left: vw(38);

            @include mobile {
                padding-left: 0;
                width: vw(201);
            }

            svg {
                height: auto;
                width: vw(325);
                margin-bottom: vw(18);
                padding-bottom: vw(35);
                border-bottom: 3px solid currentColor;

                @include mobile {
                    width: vw(201);
                    padding-bottom: vw(22);
                    margin-bottom: vw(7);
                }

                path {
                    fill: currentColor;
                }
            }

            h1 {
                width: 100%;
                width: vw(325);
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 500;
                font-size: vw(38);
                text-align: center;
                color: currentColor;
                letter-spacing: vw(8.09);
                text-transform: uppercase;
                font-family: "itc-avant-garde-gothic-pro", sans-serif;


                @include mobile {
                    width: 100%;
                    font-size: vw(23);
                    line-height: vw(17.4);
                    letter-spacing: vw(4.88);
                }
            }
        }

        .detail {
            padding-left: vw(5);
            grid-column: 7/11;

            @include mobile {
                margin-top: vw(49);
                padding-left: 0;
            }

            .h1 {
                color: #333;
                font-style: italic;
                margin-bottom: vw(48);

                &::after,
                &::before {
                    display: none;

                    @include mobile {
                        display: block;
                    }
                }

                @include mobile {
                    font-size: vw(30);
                    margin-bottom: vw(6);
                    padding-bottom: vw(32);
                    letter-spacing: vw(0.06);

                    br {
                        display: none;
                    }
                }
            }
        }
    }

    .main-gallery {
        margin-top: vw(106);

        @include mobile {
            padding: 0;
            display: flex;
            padding: 0;
            margin-top: vw(90);
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scrollbar-width: none;
            /* Firefox */
            -ms-overflow-style: none;
        }

        figure {
            overflow: hidden;

            @include mobile {
                flex: 0 0 100vw;
                scroll-snap-align: start;
            }

            &:nth-of-type(1) {
                grid-column: 2/6;
                margin: 0 vw(28) 0 vw(72);

                @include mobile {
                    padding: 0;
                }
            }

            &:nth-of-type(2) {
                grid-column: 6/12;
                margin: vw(151) vw(72) 0 vw(52);

                @include mobile {
                    padding: 0;
                    margin-top: 0;
                }
            }

            img {
                width: 100%;
                height: auto;

                @include mobile {
                    height: vw(285);
                    object-fit: cover;
                }
            }
        }
    }

    .border-devider {
        color: green;
        margin-top: vw(181);

        @include mobile {
            margin-top: vw(86);
        }

        .grid-inner-wrapper {
            display: flex;
            position: relative;
            margin-bottom: vw(16);
            justify-content: space-between;

            @include mobile {
                padding: 0 0 vw(4);
            }

            &:after {
                bottom: 0;
                content: '';
                left: vw(37);
                right: vw(37);
                position: absolute;
                border-bottom: 2.1px solid currentColor;

                @include mobile {
                    left: 0;
                    right: 0;
                }
            }


            svg {
                width: vw(13);
                height: auto;

                path {
                    fill: currentColor;
                }
            }

            .initial {
                font-size: vw(28);
                color: currentColor;
                line-height: vw(51);
            }
        }
    }

    .sec-description {
        margin-top: vw(119);


        @include mobile {
            margin-top: vw(61);
        }

        .second-title {
            grid-column: 3/6;
            font-weight: 600;
            padding-left: vw(37);

            @include mobile {
                padding-left: 0;
            }

            .h2 {
                color: #333;
                padding-bottom: vw(26);
                letter-spacing: vw(-.08);

                @include mobile {
                    font-size: vw(30);
                    margin-bottom: vw(9);
                    padding-bottom: vw(33);
                    letter-spacing: vw(0.06);
                }
            }
        }

        .second-desc {
            grid-column: 7/11;
            padding-right: vw(37);
            padding-left: vw(7);

            @include mobile {
                padding-left: 0;
            }

            .buttons-wrapper {
                gap: vw(16.7);
                display: flex;

                @include mobile {
                    display: block;
                    margin-top: vw(35);
                }
            }

            .primary-button {
                width: 100%;
                margin-top: vw(41);
                overflow: hidden;
                position: relative;

                @include mobile {
                    width: vw(226);
                    margin-top: 0;
                    margin-bottom: vw(12);
                }

                a {
                    z-index: 4;
                    gap: vw(10);
                    display: flex;
                    width: 100%;
                    height: vw(57);
                    font-weight: 500;
                    color: #2D2D2D;
                    font-size: vw(18);
                    cursor: pointer;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    position: relative;
                    letter-spacing: vw(0.09);
                    border: vw(1.4) solid rgba(#BFBFBF, 0.53);

                    @include mobile {
                        width: vw(226);
                        height: vw(53);
                        font-size: vw(16);
                        letter-spacing: vw(0.08);
                    }

                    &:before {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        content: '';
                        z-index: -1;
                        position: absolute;
                        pointer-events: none;
                        transform: scaleY(0);
                        transform-origin: top;
                        background-color: #BFBFBF;
                        transition: transform .45s var(--cubic-bezier);
                    }
                }

                svg {
                    // top: 28%;
                    z-index: 4;
                    // right: vw(36);
                    width: vw(11);
                    height: vw(22);
                    flex: 0 0 vw(11);
                    position: relative;
                    // position: absolute;
                    pointer-events: none;
                    transition: transform .35s ease-in-out;

                    @include mobile {
                        // right: vw(30)
                    }
                }


                @include hover {
                    a {
                        color: #FFF;

                        &::before {
                            transform: scaleY(1);
                            transform-origin: bottom;
                        }
                    }


                    svg {
                        transform: translateX(vw(5));

                        path {
                            fill: #FFF;
                        }
                    }
                }
            }

            @include mobile {
                padding-right: 0;
            }
        }
    }


    .sec-gallery {
        margin-top: vw(105);

        @include mobile {
            gap: 0;
            padding: 0;
            display: flex;
            margin-top: vw(52);
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scrollbar-width: none;
            /* Firefox */
            -ms-overflow-style: none;
        }

        figure {

            @include mobile {
                flex: 0 0 100vw;
                scroll-snap-align: start;
            }

            &:nth-of-type(1) {
                grid-column: 2/7;
                margin: 0 vw(89) 0 vw(72);

                @include mobile {
                    padding: 0;
                }
            }

            &:nth-of-type(2) {
                grid-column: 7/12;
                margin: vw(153) vw(72) 0 0;

                @include mobile {
                    margin-top: 0;
                    padding: 0;
                }
            }

            img {
                width: 100%;
                height: auto;

                @include mobile {
                    width: 100vw;
                    object-fit: cover;
                    height: vw(285);
                }
            }
        }
    }

    .booking-banner {
        width: 100vw;
        color: #4B5649;
        margin-top: vw(143);

        @include mobile {
            margin-top: vw(106);
        }

        figure {
            background-color: currentColor;
            mix-blend-mode: multiply;

            img {
                width: 100vw;
                opacity: 0.6;
                height: vw(191);
                object-fit: cover;
                filter: grayscale(1);

                @include mobile {
                    height: vw(94);
                }
            }
        }

        .content {
            display: flex;
            padding: vw(82) 0;
            align-items: center;
            flex-direction: column;
            background-color: currentColor;

            @include mobile {
                padding-top: vw(108);
                padding-bottom: vw(111);
            }

            svg {
                height: auto;
                width: vw(54);
                opacity: 0.2;
                margin-bottom: vw(39);

                @include mobile {
                    width: vw(45);
                    height: vw(83);
                    margin-bottom: vw(27);
                }

                path {
                    fill: #FFF;
                }
            }

            .h1 {
                width: vw(435);
                color: #FFFAF5;
                text-align: center;
                font-style: italic;
                margin-bottom: vw(28);

                @include mobile {
                    font-size: vw(32);
                    max-width: vw(300);
                    margin-bottom: vw(22);
                    letter-spacing: vw(0.06);
                }
            }

            .border {
                display: block;
                margin: 0 auto vw(25);
                display: flex;
                height: vw(129);

                @include mobile {
                    height: vw(109);
                    margin-bottom: vw(19);
                }

                &:before {
                    content: "";
                    height: 100%;
                    display: block;
                    width: vw(1.2);
                    background-color: #C6C5C6;
                }

                &::after {
                    content: "";
                    height: 100%;
                    display: block;
                    width: vw(1.6);
                    background-color: #EEE9E5;
                }
            }

            .button {

                a {
                    width: auto;
                    gap: vw(10);
                    display: flex;
                    height: vw(57);
                    z-index: 4;
                    font-size: vw(18);
                    color: #FFFAF5;
                    position: relative;
                    padding: 0 vw(34);
                    align-items: center;
                    letter-spacing: vw(0.09);
                    border: vw(1.45) solid #BFBFBF;

                    @include mobile {
                        gap: vw(17);
                        font-weight: 500;
                        font-size: vw(16);
                        padding-top: vw(3);
                        padding: 0 vw(25);
                        letter-spacing: vw(0.1);
                    }

                    svg {
                        opacity: 1;
                        width: vw(12);
                        height: vw(21);
                        margin-bottom: 0;
                        transition: all .35s ease-in-out;

                        path {
                            fill: #FFFAF5;
                        }
                    }

                    &:before {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        content: '';
                        z-index: -1;
                        position: absolute;
                        pointer-events: none;
                        transform: scaleY(0);
                        transform-origin: top;
                        background-color: #FFF;
                        transition: transform .45s var(--cubic-bezier);
                    }

                    @include hover {

                        color: currentColor;

                        &::before {
                            transform: scaleY(1);
                            transform-origin: bottom;
                        }

                        svg {
                            transform: translateX(vw(5));

                            path {
                                fill: currentColor;
                            }
                        }

                    }
                }
            }
        }
    }


    .map {
        margin-top: vw(158);
        margin-bottom: vw(147);
        padding-bottom: vw(157);
        border-bottom: vw(1.5) solid #565656;

        @include mobile {
            padding-bottom: 0;
            margin-top: vw(86);
            margin-bottom: vw(67);
        }

        .left {
            grid-column: 3/7;
            padding-left: vw(37);

            @include mobile {
                padding-left: 0;
            }

            .map-title {
                font-weight: 600;
                margin-bottom: vw(56);
                padding-bottom: vw(37);

                @include mobile {
                    font-size: vw(30);
                    margin-bottom: vw(9);
                    padding-bottom: vw(29);
                    letter-spacing: vw(0.06);
                }
            }
        }


        .map-embed {
            height: vw(309);
            grid-column: 7/11;
            padding-left: vw(92);
            padding-right: vw(40);

            >div {
                position: relative !important;
            }

            @include mobile {
                padding-left: 0;
                padding-right: 0;
                margin: vw(51) vw(-20) 0;
            }
        }

        figure {
            grid-column: 7/11;
            padding-left: vw(92);
            padding-right: vw(40);

            @include mobile {
                padding: 0;
                margin: 0 vw(-20);
                margin-top: vw(46);
            }

            img {
                width: 100%;
                height: auto;

                @include mobile {
                    height: vw(309);
                }
            }
        }
    }

    .instagram-wrapper {
        width: 100vw;


        .instagram {
            display: flex;
            width: fit-content;
            will-change: transform;
            animation: infiniteMarque 50s linear infinite;

            // @include mobile {
            //     width: 100vw;
            //     display: block;
            //     animation: none;
            // }

            #sbi_images {
                padding-right: vw(51) !important;

                @include mobile {
                    padding-right: vw(24) !important;
                }
            }

            .sbi_item {
                opacity: 1 !important;
            }

            &:hover {
                animation-play-state: paused;
            }
        }

        .button-follow {
            display: flex;
            margin-top: vw(74);
            position: relative;
            justify-content: center;


            @include mobile {
                margin-top: vw(46);
                margin-bottom: vw(66);
            }

            a {
                gap: vw(16);
                z-index: 3;
                display: flex;
                margin-top: 0;
                height: vw(79);
                border-radius: 0;
                font-size: vw(24);
                white-space: nowrap;
                color: #FFFFFF;
                padding: 0 vw(55);
                align-items: center;
                letter-spacing: vw(0.12);
                text-transform: uppercase;
                position: relative;

                &::before {
                    top: 0;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 100%;
                    opacity: 0.2;
                    z-index: -1;
                    transform-origin: top;
                    position: absolute;
                    transform: scaleY(0);
                    background-color: #000;
                    transition: transform .45s var(--cubic-bezier);
                }

                @include hover {
                    &::before {
                        transform: scaleY(1);
                        transform-origin: bottom;
                    }
                }
            }

            .ig-icon {
                flex: 0 0 vw(34);
                height: vw(34);
            }

            .arrow {
                flex: 0 0 vw(16);
                height: vw(29);
                transition: transform .45s var(--cubic-bezier);

                path {
                    fill: rgba(#FFF, 0.3);
                }
            }

            @include hover {
                .arrow {
                    transform: translateX(vw(6));
                }
            }
        }
    }
}


#sb_instagram {
    padding-bottom: 0 !important;

    .sb_instagram_header {
        display: none;
    }

    #sbi_images {
        display: flex;
        padding-bottom: 0 !important;
        gap: vw(51) !important;

        @include mobile {
            gap: 0 !important;
        }

        .sbi_item {
            width: vw(383);
            height: vw(383);
            flex: 0 0 vw(383);

            @include mobile {
                width: vw(273);
                height: vw(249);
                flex: 0 0 vw(249);
                padding-left: vw(24);
                scroll-snap-align: center;
            }

            img {
                width: vw(383);
                height: vw(383);

                @include mobile {
                    width: 100%;
                    height: vw(249);
                }
            }
        }


        .sbi_photo_wrap,
        .sbi_photo {
            width: vw(383);
            height: vw(383);

            @include mobile {
                width: 100%;
                height: vw(249);
            }
        }
    }

}


#sbi_load {
    .sbi_load_btn {
        display: none !important;
    }

    .sbi_follow_btn {
        margin-left: 0;
        display: none !important;
        margin-top: vw(74);

        @include mobile {
            margin-top: vw(47);
        }

        a {
            gap: vw(16);
            display: flex;
            margin-top: 0;
            height: vw(79);
            border-radius: 0;
            font-size: vw(24);
            color: #FFFFFF;
            padding: 0 vw(55);
            align-items: center;
            letter-spacing: vw(0.12);
            text-transform: uppercase;

            svg {
                flex: 0 0 vw(34);
                width: vw(34);
                margin-right: 0;
                height: vw(34) !important;
            }
        }
    }
}