@import "./../../assets//styles/utils/functions";

.marque {
    margin: vw(63) 0;

    .marque__inner {
        // display: flex;

        .logo {
            height: vw(26);
            display: flex;
            margin-bottom: vw(33);
            justify-content: center;

            svg {
                flex: 0 0 vw(3523.49);
                height: vw(26.29);
            }
        }
    }
}