.group-section-1 {
    width: 100vw;
    opacity: 0;
    height: calc(100vh - #{$headerSize});
    background-size: 100vw auto;
    display: flex;
    align-items: center !important;
    flex-wrap: nowrap !important;
    flex-direction: row !important;
    background: url(/images/bg_marble_01.webp);
    overflow: hidden;
    min-height: 620px;



    @include breakpoint(2200) {
        background-size: cover;
    }

    @include mobile {
        height: auto;
        background-size: auto calc(100vh - #{$headerSize});
        background-position: 74% 0;
        background-repeat: no-repeat;
        min-height: unset;
    }
}



.section-1 {
    width: 100vw;
    display: grid !important;
    gap: 0;
    grid-template-columns: repeat(6, 1fr);
    background-color: transparent !important;


    @include mobile {
        display: block !important;
        overflow: auto;
        height: auto;
        padding-top: 0;
    }



    .wp-block-group {

        &:first-child {
            grid-column: 1/7;
            grid-row: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            position: relative;
            padding-bottom: 14px;
            pointer-events: none;

            @include mobile {
                align-items: flex-end;
                height: calc(100vh - #{$headerSize});
                border-bottom: 5px solid $orangeColor;
            }


            &:after {
                content: '';
                height: 5px;
                display: block;
                grid-column: 1/7;
                position: absolute;
                left: 0;
                width: size(853);
                bottom: 0;
                background-color: $orangeColor;

                @include mobile {
                    display: none;
                }
            }

            h1 {
                padding-right: 30%;
                max-width: #{$innerContainer}px;
                width: 100%;
                margin: 0 auto;
                font-size: 73px;
                position: relative;
                line-height: 83px;
                letter-spacing: 1.83px;
                padding-bottom: size(33);

                @include breakpoint(1717) {
                    padding-right: 40%;
                }


                @include breakpoint(1290) {
                    padding-right: 50%;
                }

                @include breakpoint($innerContainer) {
                    padding-left: 22px;
                }

                @include breakpoint(1050) {
                    font-size: 60px;
                    line-height: 70px;
                }

                @include mobile {
                    font-size: 41px;
                    padding: 0 22px;
                    letter-spacing: 1.03px;
                    line-height: normal;
                    padding-bottom: 96px;
                }

            }

        }


        &:last-child {
            grid-column: 1/7;
            grid-row: 1;
            margin: 0 auto;
            width: 100%;
            max-width: #{$innerContainer}px;
            height: inherit;
            position: relative;
            padding-top: size(12);

            @include breakpoint($innerContainer) {
                padding-right: 22px;
            }


            @include mobile {
                padding: 50px 22px;
                background-color: #4D4E56;
            }

            p {
                padding-left: sizeinner(588);
                font-size: 22px;
                line-height: 27px;
                letter-spacing: 1.1px;
                margin-bottom: 20px;

                @include breakpoint(1050) {
                    font-size: 18px;
                }

                @include mobile {
                    padding: 0;
                    width: 100%;
                    color: #FFF;
                    font-size: 18px;
                    line-height: 27px;
                }

                a {
                    color: #FFF;
                    display: inline-flex;
                    border-radius: 29px;
                    background-color: $orangeColor;
                    height: 57px;
                    font-size: 20px;
                    letter-spacing: 1px;
                    width: 247px;
                    justify-content: center;
                    align-items: center;
                    margin-top: 40px;
                    transition: all .45s ease-in-out;
                    box-shadow: 6px 6px 21px rgba(#000, 0.4);

                    @include mobile {
                        width: 100%;
                        margin: 0 auto
                    }


                    &:hover {
                        background-color: $orangeHoverColor;
                    }

                }
            }
        }
    }

    figure {
        height: 100%;

        img {
            width: inherit;
            height: inherit;
            object-fit: cover;
        }
    }
}

.section-2 {
    gap: 0;
    padding: 126px 0 156px;
    display: grid !important;
    grid-template-columns: repeat(6, 1fr);

    @include mobile {
        padding: 76px 0 81px;
        display: block !important;
    }

    >.wp-block-group {
        grid-column: 1/7;
        grid-row: 1;

        &:first-child {
            position: relative;
            pointer-events: none;
            padding-bottom: 8px;

            @include mobile {
                margin-bottom: 75px;
            }

            &:after {
                left: 0;
                bottom: 0;
                content: "";
                width: size(732);
                height: 5px;
                position: absolute;
                background-color: $orangeColor;

                @include mobile {
                    width: 206px;
                }
            }

            h2 {
                width: 100%;
                max-width: #{$innerContainer}px;
                font-size: 62px;
                font-weight: normal;
                letter-spacing: 1px;
                height: 81px;
                margin: 0 auto;
                line-height: 55px;

                @include breakpoint($innerContainer) {
                    padding-left: 22px;
                }

                @include mobile {
                    height: auto;
                    font-size: 30px;
                }
            }
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
            margin: 0 auto 29px;
            width: 100%;
            max-width: #{$innerContainer}px;

            @include breakpoint($innerContainer) {
                padding-right: 22px;
            }

            @include mobile {
                padding-left: 50px;
                padding-right: 0;
                margin-bottom: 63px;
            }

            h4 {
                margin-left: sizeinner(588);
                margin-right: auto;
                width: sizeinner($innerContainer - 588);
                margin-top: 30px;
                font-size: 35px;
                font-weight: normal;
                padding-bottom: 10px;
                margin-bottom: 24px;
                border-bottom: 1px solid $orangeColor;

                @include mobile {
                    margin-top: 0;
                    max-width: unset;
                    font-size: 26px;
                    margin-right: 0;
                    width: 100%;
                }
            }

            p {
                margin-left: sizeinner(588);
                width: 445px;
                font-family: Lora;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.16px;

                @include mobile {
                    width: 100%;
                    padding-right: 22px;
                }
            }

            @include mobile {

                h4,
                p {
                    margin-left: 0;
                }
            }
        }

        &:nth-of-type(3) {
            grid-row: 2;
            margin-bottom: 0;
        }



    }
}


.section-3 {
    width: 100vw;
    height: 396px;
    margin-bottom: 5px;

    @include mobile {
        height: 348px;
    }

    figure {
        width: inherit;
        height: inherit;

        img {
            width: 100vw !important;
            height: auto !important;
            object-position: -12vw -10vw;

            @include mobile {
                height: 100% !important;
                object-position: top center;
            }
        }
    }
}