.password-required {
    color: #FFF;
    height: 100vh;
    display: flex;
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #022212;
    position: relative;

    .title {
        font-size: size(20);
        letter-spacing: size(3.3);

        @include mobile {
            font-size: 15px;
            letter-spacing: 3.3px;

            strong {
                display: block;
            }
        }
    }

    .form {
        z-index: 2;
    }


    .bg {
        z-index: 1;
        width: 100vw;
        height: auto;
        bottom: -10px;
        position: absolute;

        svg {
            transform: translateX(size(-943));
            width: size(3647.91);

            @include mobile {
                width: 3420px;
                height: 797px;
                transform: translate3d(-1461px, 196px, 0);
            }
        }

        path {
            fill: #000201;
        }
    }

    .input {

        input,
        .button-login {
            width: size(324);
            margin: 0 auto;
            font-size: size(20);
            border-radius: 33px;
            border: 1px solid #FFF;
            background-color: transparent;

            @include mobile {
                width: 260px;
                font-size: 16px;
            }
        }

        input {
            height: size(66);
            outline: none;
            color: #BCFFCF;
            text-align: center;
            margin: size(37) 0 size(24);
            border-color: #59A372;

            @include mobile {
                height: 53px;
                margin: 23px 0 19px;
            }
        }

        .button-login {
            height: size(55);
            cursor: pointer;

            .button__styled {
                width: 100%;
                justify-content: center;

                svg {

                    polyline,
                    line {
                        stroke: #000;
                    }
                }
            }


            .original {
                color: #FFF;
                height: 100%;
                background-color: #022212;

                svg {

                    polyline,
                    line {
                        stroke: #FFF;
                    }
                }

            }


            .copied {
                color: #000;
                height: 100%;
                background-color: #FFF;
            }

            @include mobile {
                height: 46px;

                .copied {
                    height: 44px;

                    a,
                    p {
                        height: 44px;
                    }
                }
            }
        }
    }
}