.f-section-1{
    padding-top: 93px;

    @include mobile{
        padding: 68px 22px 0;
    }
    
    > .wp-block-group{
        width: 100%;
        margin: 0 auto;
        max-width: #{$innerContainer}px;
        display: grid;
        grid-template-columns: sizeinner(652) 1fr;

        @include mobile{
            display: block !important;
        }

        h1{
            position: relative;
            padding-bottom: 22px;

            &:after{
                bottom: 0;
                left: 0;
                content: '';
                width: 229px;
                height: 5px;
                position: absolute;
                background-color: $orangeColor;

                @include mobile{
                    height: 2px;
                    width: 105px;
                }
            }
        }

        .wp-block-group {
            margin-top: 38px;
            padding-left: 32px;
            border-left: 1px solid $orangeColor;
            padding-bottom: 106px;

            @include mobile{
                padding-bottom: 83px;
            }

            p{
                font-size: 17px;
                margin-bottom: 20px;
            }
        }
    }   
}

.wide-banner{
    width: 100vw;
    display: flex;
    margin-bottom: 0;

    img{
        width: 100%;
        height: 398px;
        object-fit: cover;
    }
}
