@import "./../../assets//styles/utils/functions";

.featured-title {
    padding: vw(110) 0;

    .main-container {
        grid-column: 4/14;
        color: #F7F7F7;
        position: relative;
        padding: 0 vw(18);

        &:first-child {
            display: flex;
            min-height: vw(232);
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: vw(93);

            svg {
                left: 0;
                right: 0;
                height: auto;
                width: vw(247);
                margin: 0 auto;
                opacity: 0.18;
                position: absolute;
            }
        }


        .card-item {
            display: grid;
            row-gap: vw(60);
            margin-bottom: vw(100);
            grid-template-columns: repeat(2, 1fr);

            &-a {
                gap: vw(34);
                display: flex;

                svg {
                    width: vw(42);
                    height: vw(42);
                    margin-top: vw(4);
                }

                &-a {
                    color: #353535;
                    font-size: vw(20);
                    line-height: vw(25);

                    &-a {
                        font-weight: 700;
                    }
                }
            }
        }

        .title {
            font-weight: var(--font-extra);
            font-size: vw(46);
            color: #6B5B38;
            margin-bottom: vw(28);
        }

        .description {
            font-weight: var(--font-semi-bold);
            font-size: vw(24);
            color: #161616;
        }

        .text-top-button {
            font-size: vw(24);
            color: #000000;
            text-align: center;
            font-weight: var(--font-semi-bold);
        }

        .primary-button {
            display: flex;
            margin-top: vw(22);
            justify-content: center;
        }
    }
}