@import "./../../assets//styles/utils/functions";

$padding_inner: 32;
$padding_content : vw(calc(var(--g-outer-padding) + $padding_inner));

.teams {
    position: relative;
    padding-top: vw(92);

    .decor {
        z-index: 3;
        width: 2px;
        position: absolute;
        background-color: #7A7A7A;

        &.decor-1 {
            top: 0;
            height: vw(1276);
            left: vw(var(--g-outer-padding));
        }

        &.decor-2 {
            top: vw(706);
            left: vw(958);
            height: vw(183);
        }
    }


    .header {
        gap: vw(57);
        display: flex;
        height: vw(241);
        margin-bottom: vw(103);
        border-top: 1px solid #7F6E41;
        justify-content: space-between;
        border-bottom: 1px solid #7F6E41;
        padding-left: vw(var(--g-outer-padding));

        figure {
            height: 100%;
            flex: 0 0 vw(576);

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        &-content {
            gap: vw(30);
            flex: 1 auto;
            display: flex;
            color: #0C0C0C;
            font-size: vw(16);
            line-height: vw(23);
            padding-top: vw(31);

            svg {
                height: vw(42);
                flex: 0 0 vw(42);
                transform: translateY(vw(6));
            }

            div {
                max-width: vw(526);
            }
        }
    }

    .title {
        width: 100%;
        display: flex;
        height: vw(274);
        position: relative;
        align-items: flex-end;
        border-top: 2.8px solid #231E14;
        border-bottom: 2.8px solid #231E14;
        padding-left: vw(var(--g-outer-padding));

        h2 {
            z-index: 3;
            font-size: vw(64);
            color: #2D2D2D;
            position: relative;
            padding-left: vw(32);
            margin-bottom: vw(32);
            line-height: vw(64.71);
            font-weight: var(--font-extra);
        }

        figure {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .teams-cards {
        // height: vw(384);
        padding-top: vw(183);

        &-item {
            border-top: 2px solid #7A7A7A;

            &:last-child {
                border-bottom: 2px solid #7A7A7A;
            }

            .group {
                display: grid;
            }

            .section-1 {
                height: vw(384);
                grid-template-columns: 1fr vw(962);

                .content {
                    color: #FFFFFF;
                    position: relative;
                    background-color: #231E14;

                    &::before {
                        top: 0;
                        width: 2px;
                        height: 100%;
                        content: '';
                        position: absolute;
                        background-color: #7A7A7A;
                        left: vw(var(--g-outer-padding));
                    }

                    .t-1 {
                        display: flex;
                        height: vw(144);
                        color: #FFFFFF;
                        font-size: vw(43);
                        margin-bottom: 0;
                        position: relative;
                        line-height: vw(42);
                        align-items: flex-end;
                        padding-bottom: vw(11);
                        padding-left: $padding_content;
                        font-weight: var(--font-extra);
                        border-bottom: 2px solid #7A7A7A;

                        &:before {
                            top: 0;
                            content: '';
                            height: 100%;
                            left: vw(293);
                            width: vw(37);
                            position: absolute;
                            background-color: #937D4D;
                        }

                    }

                    .t-2 {
                        display: flex;
                        height: vw(71);
                        padding-left: vw($padding_inner);
                        padding-bottom: vw(5);
                        align-items: flex-end;
                        border-bottom: 2px solid #7A7A7A;
                        margin-left: vw(var(--g-outer-padding));

                        font-style: italic;
                        font-size: vw(30);
                        font-weight: var(--font-medium);
                        color: #CECECE;
                    }

                    .t-3 {
                        max-width: vw(588);
                        font-size: vw(22);
                        padding-top: vw(34);
                        padding-left: vw($padding_inner);
                        font-weight: var(--font-medium);
                        margin-left: vw(var(--g-outer-padding));
                    }
                }

                figure {
                    width: 100%;
                    height: 100%;
                    border-left: 2px solid #7A7A7A;

                    img {
                        width: 100%;
                    }
                }
            }

            .section-2 {
                gap: vw(52);
                padding: 0 $padding_content;
                border-top: 2px solid #7A7A7A;
                border-bottom: 2px solid #7A7A7A;
                grid-template-columns: 1fr 1fr 1fr;

                .content {
                    gap: vw(20);
                    display: flex;
                    padding: vw(50) 0;

                    .icon {
                        display: flex;
                        width: vw(43);
                        height: vw(40);
                        flex: 0 0 vw(43);
                        align-items: center;
                        justify-content: center;
                        border: 1.5px solid #AFAFAF;

                        svg {
                            width: vw(24);
                            height: vw(24);
                        }
                    }

                    .t-1 {
                        flex: 0 100%;
                        font-size: vw(20);
                        color: #2B2211;
                        transform: translateY(vw(-3));
                        font-weight: var(--font-semi-bold);
                    }
                }
            }

            .section-3 {
                gap: vw(110);
                height: vw(257);
                padding: vw(50) $padding_content 0;
                grid-template-columns: 1fr 1fr;
                font-size: vw(16);
                line-height: vw(23);
                color: #0C0C0C;
            }
        }
    }
}