@import "./../../assets//styles/utils/functions";

.featured-title-2 {
    padding: vw(133) 0;

    .main-container {
        color: #F7F7F7;
        position: relative;

        &:first-child {
            display: flex;
            min-height: vw(232);
            align-items: center;
            padding-top: vw(20);
            // justify-content: center;
            flex-direction: column;
            margin-bottom: vw(89);

            svg {
                top: 0;
                left: 0;
                right: 0;
                height: auto;
                width: vw(247);
                margin: 0 auto;
                opacity: 0.18;
                transform: translateX(vw(-3));
                position: absolute;
                pointer-events: none;
            }
        }


        .card-item {
            gap: vw(60);
            width: vw(1199);
            display: grid;
            margin: 0 auto;
            margin-bottom: vw(94);
            grid-template-columns: repeat(3, 1fr);

            &-a {
                gap: vw(22);
                display: flex;
                // padding-left: vw(20);

                &:nth-of-type(even) {
                    // padding-left: vw(26);
                }

                svg {
                    flex: 0 0 vw(45);
                    width: vw(45);
                    height: vw(45);
                    margin-top: vw(4);
                    transform: translateY(vw(5)) translateX(vw(-3));
                }

                &-a {
                    color: #353535;
                    max-width: vw(455);
                    font-size: vw(20);
                    padding-top: vw(3);
                    line-height: vw(25);

                    &-a {
                        font-size: vw(22);
                        font-weight: 700;
                        margin-bottom: vw(4);
                    }
                }
            }
        }

        .title {
            font-weight: var(--font-extra);
            font-size: vw(46);
            color: #6B5B38;
            margin-bottom: vw(25);
        }

        .description {
            margin: 0 auto;
            font-weight: var(--font-semi-bold);
            font-size: vw(24);
            color: #161616;
            text-align: center;
            max-width: vw(662);
        }

        .primary-button {
            display: flex;
            margin-top: vw(27);
            justify-content: center;

            a {
                display: flex;
                width: vw(266);
                height: vw(63.3);
                justify-content: center;
            }
        }
    }
}