@import "./../../assets//styles/utils/functions";

.two-column-banner {
    padding: vw(52) 0;

    @include mobile {
        padding: 26px 0;
    }

    .wrapper {
        gap: vw(99);
        display: grid;
        padding: 0 vw(72);
        grid-column: 2/12;
        grid-template-columns: auto 1fr;

        @include mobile {
            padding: 0;
            display: block;
        }

        figure {
            max-width: 100%;

            @include mobile {
                width: 100vw;
                height: 76vw;
            }

            img {
                height: auto;
                max-width: 100%;

                @include mobile {
                    height: 100%;
                    object-fit: cover;
                }
            }

            &:last-child {
                margin-top: vw(152);

                @include mobile {
                    display: none;
                }
            }
        }
    }
}