@import "./../../assets//styles/utils/functions";

.two-column-text {
    padding: vw(150) 0;
    background-color: #0C0C0C;

    .container {
        gap: vw(97);
        color: #FFF;
        display: grid;
        grid-template-columns: 1fr vw(520);

        .primary-button {
            margin-top: vw(40);
        }
    }
}