@import "./../../assets//styles/utils/functions";

.two-column-text {
    padding: vw(89) 0;

    @include mobile {
        padding: 37px 20px;
    }

    .logo {
        grid-column: 3/11;
        padding-left: vw(37);

        @include mobile {
            padding-left: 0;
            margin-bottom: vw(41);
        }

        svg {
            width: vw(325);
            height: vw(75);
            margin-bottom: vw(57);

            @include mobile {
                width: 201px;
                height: 45px;
                margin-bottom: 0;
            }
        }
    }

    &__s1 {
        grid-column: 3/7;
        margin-left: vw(37);

        @include mobile {
            margin-left: 0;
            margin-bottom: vw(8);
            padding-bottom: 30px;
        }

        .label {
            font-size: vw(14);
            margin-bottom: vw(34);
            letter-spacing: vw(3.5);
            color: #2D2D2D;

            @include mobile {
                font-size: vw(11);
                letter-spacing: vw(2.75);
                margin-bottom: vw(7);
            }
        }

        h2 {
            color: #333333;
            max-width: vw(473);
            margin-bottom: vw(29);

            @include mobile {
                font-size: 30px;
                max-width: unset;
                margin-bottom: 0;
                letter-spacing: 0.06px;
            }
        }

        .desc-bottom {
            color: #494949;
            font-size: vw(19);
            line-height: vw(23);
            max-width: vw(550);
            margin-bottom: vw(29);

            @include mobile {
                font-size: 19px;
                max-width: unset;
                line-height: 22px;
                margin-bottom: vw(7);

                br {
                    display: none;
                }
            }
        }
    }

    &__s2 {
        grid-row: 1/3;
        grid-column: 7/11;
        padding-left: vw(5);
        padding-right: vw(40);

        @include mobile {
            padding: 0;
            font-size: vw(16);
            line-height: vw(22);
            color: #5B5B5B;
        }
    }

    &.w-logo {
        .two-column-text__s1 {

            h2 {
                font-size: vw(42);
                color: #333333;
                max-width: vw(480);
                line-height: 1.2;
                margin-bottom: vw(20);
                letter-spacing: vw(-0.1);

                @include mobile {
                    font-size: 30px;
                    max-width: unset;
                    font-style: italic;
                    font-weight: 600;
                    margin-bottom: vw(11);
                    letter-spacing: vw(-0.13);
                }
            }
        }

        .two-column-text__s2 {
            grid-row: 2/4;
        }
    }


    .button {
        display: flex;
        margin-top: vw(47);

        @include mobile {
            margin-top: vw(22);
        }

        .button-wrapper {
            width: auto;
            display: flex;
            height: vw(57.8);
            cursor: pointer;
            font-size: vw(18);
            white-space: nowrap;
            align-items: center;
            position: relative;
            line-height: vw(57.8);
            letter-spacing: vw(0.09);
            text-transform: uppercase;
            border: vw(1.5) solid rgba(#BFBFBF, 0.53);
            transition: color .35s ease-in-out;

            @include mobile {
                width: auto;
                height: 49px;
                font-size: 15px;
                color: #2D2D2D;
                letter-spacing: 0.08px;
                border-color: rgba(#BFBFBF, 0.53);
            }

            &:before {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
                position: absolute;
                pointer-events: none;
                transform: scaleY(0);
                transform-origin: top;
                background-color: #BFBFBF;
                transition: transform .45s var(--cubic-bezier);
            }


            p {
                margin-bottom: 0;
            }

            a {
                display: flex;
                height: vw(57);
                color: #2D2D2D;
                margin-bottom: 0;
                align-items: center;
                letter-spacing: vw(0.09);
                padding: vw(4) vw(55) 0 vw(34);
                transition: color .35s ease-in-out;

                @include mobile {
                    width: auto;
                    height: 49px;
                    padding: 0 51px 0 29px;
                }
            }

            svg {
                top: vw(20);
                right: vw(35);
                height: vw(21);
                flex: 0 0 vw(11);
                position: absolute;
                pointer-events: none;
                transform: translateY(vw(-2));
                transition: transform .35s ease-in-out;

                @include mobile {
                    top: vw(16);
                    width: vw(9.7);
                    right: vw(30);
                    height: vw(18);
                }

                path {
                    transition: all .35s ease-in-out;
                }
            }


            @include hover {


                color: #FFF;

                a {
                    color: #FFF;
                }

                &::before {
                    transform: scaleY(1);
                    transform-origin: bottom;
                }


                svg {
                    transform: translateX(vw(5));

                    path {
                        fill: #FFF;
                    }
                }
            }
        }
    }
}