.link-editor-wrapper {
  position: relative;

  .editor {
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    padding: 10px;
    height: 100vh;
    position: fixed;
    align-items: center;
    z-index: 9999999999999;
    justify-content: center;
    background-color: rgba(#111, 0.6);

    .click-area {
      left: 0;
      top: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      position: absolute;
    }

    .input-wrapper {
      z-index: 8;
      width: 290px;
      position: relative;

      input,
      * {
        border: none;
      }

      .block-editor-url-input__button-modal-line {
        display: flex;
        background: #fff;
        justify-content: space-between;

        .block-editor-url-input {
          flex: 1 auto;
        }
      }
    }
  }
}
