@import "./../../assets//styles/utils/functions";

.three-column-banner {
    width: 100vw;
    overflow: hidden;
    padding: vw(52) 0 vw(77);


    .grid {
        @include mobile {
            gap: 0;
            padding: 0;
            display: flex;
            width: fit-content;
            animation: infiniteMarque 40s linear infinite;
        }
    }

    .wrapper {
        gap: vw(128);
        display: grid;
        grid-column: 2/12;
        grid-template-columns: vw(377) 1fr vw(662);

        @include mobile {
            gap: vw(44);
            grid-template-columns: vw(377) vw(253) vw(662);
            // width: fit-content;
        }


        &:first-child {
            padding-top: vw(10);
        }


        .thumb {

            @include mobile {
                flex: 0 auto;
                display: flex;
                height: vw(342);
                align-items: center;
            }

            figure {
                max-width: 100%;

                @include mobile {
                    display: flex;
                    height: vw(342);
                }

                img {
                    height: auto;
                    max-width: 100%;

                    @include mobile {
                        height: 100%;
                    }
                }

            }

            &:nth-of-type(2) {
                margin-top: vw(61);
            }

            &:last-child {
                @include mobile {
                    margin-right: vw(44);
                }
            }

        }
    }
}