@import "./../../assets//styles/utils/functions";


.featured-text {
   position: relative;
   padding-top: vw(129);
   background-color: var(--color-dark);

   .decor {
      position: absolute;
   }

   .decor-1,
   .decor-2 {
      top: 0;
      height: 100%;
      width: 1.5px;
      left: vw(328);
      z-index: 4;
      background-color: #7A7A7A;
   }

   .decor-2 {
      left: vw(958);
   }

   .decor-3 {
      z-index: 2;
      left: vw(292);
      width: vw(37);
      height: vw(77.6);
      background-color: #937D4D;
   }

   .title {
      z-index: 4;
      display: flex;
      font-weight: 800;
      color: #FFFFFF;
      font-size: vw(40);
      height: vw(77.6);
      position: relative;
      align-items: flex-end;
      padding-bottom: vw(6);
      padding-left: vw(356);
      border-top: 1.5px solid #7A7A7A;
      border-bottom: 1.5px solid #7A7A7A;
   }

   .content {
      display: grid;
      padding-left: vw(328);
      grid-template-columns: 1fr vw(959);

      .desc {
         padding: vw(36) vw(27);
         color: #EFEFEF;
         font-size: vw(16);
         line-height: vw(23);
      }



      figure {
         width: 100%;
         height: vw(372);

         img {
            width: 100%;
         }
      }
   }
}