figure {
    position: relative;

    .wp-action__floating {
        top: 5px;
        left: 5px;
        gap: 5px;
        z-index: 6;
        display: flex;
        position: absolute;

        button {
            padding: 0;
            height: 30px;
            display: flex;
            flex: 0 0 30px;
            border-radius: 50%;
            align-items: center;
            border: 1px solid rgba(#FFF, 0.2);
            justify-content: center;
            background-color: rgba(#000, 0.2);
            backdrop-filter: blur(10px);

            svg {
                width: 15px;
                height: 15px;
                fill: none;

                path {
                    stroke: #FFF;
                }
            }
        }
    }
}


.link-editor {
    .block-editor-link-control {
        .block-editor-link-control__search-input-wrapper {
            margin-bottom: 0;

            div {
                padding: 0;
                margin: 0;
            }
        }
    }
}


.gallery-list-editor {
    width: 100%;
    position: relative;

    .buttons-slider-container {
        position: relative;
    }

    .swiper-slide {
        width: 100%;
        height: 140px;

        figure {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    img {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }
}

.card-list-editor-color {
    .listing {
        margin-bottom: 20px;

        .label {
            font-size: 17px;
            margin-bottom: 10px;
            border-top: 1px solid #000;
            padding-top: 10px;
        }

        .react-colorful__saturation {
            height: 120px !important;
        }
    }

    .buttons-slider-container {
        position: relative;
    }
}


.form-wrapper {
    .input-container {
        width: 100%;

        .input {
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #000;
        }
    }
}