@import "../../../assets/styles/utils/functions";

figure {
  position: relative;

  .wp-action__floating {
    top: 5px;
    left: 5px;
    gap: 5px;
    z-index: 6;
    display: flex;
    position: absolute;

    button,
    .button-delete-wrapper {
      padding: 0;
      height: 30px;
      display: flex;
      flex: 0 0 30px;
      border-radius: 50% !important;
      align-items: center;
      border: 1px solid rgba(#fff, 0.2);
      justify-content: center;
      background-color: rgba(#000, 0.2);
      backdrop-filter: blur(10px);

      svg {
        width: 15px;
        height: 15px;
        fill: none;

        path {
          stroke: #fff;
        }
      }
    }

    .button-delete-wrapper {
      .button-delete {
        opacity: 1;
        width: 100%;
        height: 100%;
      }
    }

    .additional-button {
      display: flex;
      position: relative;
    }
  }
}

.link-editor {
  .block-editor-link-control {
    .block-editor-link-control__search-input-wrapper {
      margin-bottom: 0;

      div {
        padding: 0;
        margin: 0;
      }
    }
  }
}

.gallery-list-editor {
  width: 100%;
  position: relative;

  .buttons-slider-container {
    position: relative;
  }

  .swiper-slide {
    width: 100%;
    height: 140px;

    figure {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  img {
    width: 100%;
    height: 140px;
    object-fit: cover;
  }
}

.card-list-editor-color {
  .listing {
    margin-bottom: 20px;

    .label {
      font-size: 17px;
      margin-bottom: 10px;
      border-top: 1px solid #000;
      padding-top: 10px;
    }

    .react-colorful__saturation {
      height: 120px !important;
    }
  }

  .buttons-slider-container {
    position: relative;
  }
}

.form-editor {
  flex: 0 0 100%;
  max-width: 100%;
  overflow: visible;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  .header-title {
    opacity: 0.6;
    margin: 10px 0;
    font-size: 15px;
  }

  .button-delete-item {
    color: red;
    cursor: pointer;
    font-size: 12px;
  }

  .collapse-wrapper {
    summary {
      cursor: pointer;
      font-size: 12px;
    }
  }

  .input-wrapper {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(#000, 0.4);

    &-media {
      width: 100%;
      height: 150px;
      display: flex;
      overflow: hidden;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      background-color: #e4e4e4;

      img {
        width: 90%;
        height: 90%;
        object-fit: contain;
      }
    }

    &-label {
      width: 100%;
      opacity: 0.7;
      font-size: 12px;
      display: block;
      margin-bottom: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid rgba(#000, 0.1);
    }

    &-input {
      width: 100%;
      font-size: 13px;
    }

    .block-editor-link-control__search-item {
      padding: 0 !important;

      .block-editor-link-control__search-item-title {
        span {
          font-size: 13px;
        }
      }
    }

    .show-hide-button {
      margin-top: 20px;
    }
  }

  span {
    &.p {
      display: block;
      margin-bottom: 20px;
    }
  }

  input {
    box-sizing: border-box;
  }

  .block-editor-link-control {
    width: 100%;
    min-width: unset;

    .components-base-control {
      &.block-editor-url-input {
        width: 100%;
        min-width: unset;
      }
    }
  }

  .button-list {
    .button-add {
      width: 100%;
      height: 40px;
      color: #fff;
      display: flex;
      font-size: 12px;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 4px;
      align-items: center;
      justify-content: center;
      background-color: #000;
    }

    &-item {
      width: 100%;
      padding: 5px 0;
      display: flex;
      font-size: 12px;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(#000, 0.6);

      .button-delete {
        height: 30px;
        color: red;
        display: flex;
        flex: 0 0 30px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.editor-post-panel__row-label,
.editor-post-panel__row-control {
  font-size: 12px;
}

.components-panel__body.is-opened > .components-panel__body-title {
  background-color: #efefef;
}

@include mobile {
  .block-editor-iframe__html {
    border-radius: 20px;

    body {
      border-radius: 20px;
    }
  }

  .editor-visual-editor__post-title-wrapper {
    h1 {
      padding: 0 20px;
    }
  }
}

.block-editor-iframe__body {
  line-height: 1.3;

  * {
    box-sizing: border-box;
  }

  figure img {
    height: 100%;
  }
}

/// Side left bar
.editor-list-view-sidebar {
  position: fixed;
}

.section-block-wrapper {
  &.edit-mode {
    position: relative;

    .button-edit-section {
      top: 20px;
      gap: 10px;
      right: 20px;
      display: flex;
      position: absolute;

      .button {
        gap: 6px;
        display: flex;
        cursor: pointer;
        z-index: 9999;
        opacity: 0.3;
        color: #000;
        font-size: 14px;
        border-radius: 8px;
        align-items: center;
        padding: 6px 10px;
        background-color: #eeedf2;
      }

      svg {
        width: 18px;
        height: 18px;
        flex: 0 0 18px;
      }
    }

    &:hover {
      .button-edit-section {
        .button {
          opacity: 1;
        }
      }
    }
  }
}

#editor {
  .components-notice-list {
    .components-notice {
      .components-notice__content {
        margin: 3px 30px;
        line-height: 1;
      }
    }
  }
}
