@import "../../../assets/styles/utils/functions";

.block-editor-pannel-wrapper {
  top: 0;
  width: 100vw;
  display: none;
  height: 100vh;
  position: fixed;
  z-index: 99999999999999;
  background-color: rgba(#000, 0.2);
}

.block-editor-pannel {
  top: 20px;
  left: 20px;
  width: 400px;
  color: #fff;
  z-index: 9999;
  height: auto;
  max-height: 650px;
  display: flex;
  position: fixed;
  overflow: hidden;
  border-radius: 7px;
  flex-direction: column;
  box-sizing: border-box !important;
  background-color: #000;
  border: 1px solid rgba(#fff, 0.1);

  .button {
    font-size: 11px;
    text-transform: uppercase;
  }

  @include mobile {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  * {
    box-sizing: border-box !important;
  }

  .header-panel {
    width: 100%;
    height: 40px;
    display: flex;
    flex: 0 0 40px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(#fff, 0.1);

    &-title {
      padding: 0 20px;
      flex: 1 auto;
      cursor: move;
      font-size: 20px;
      color: #fff;
      font-weight: normal;
    }

    .button-close {
      width: 40px;
      height: 40px;
      display: flex;
      flex: 0 0 40px;
      cursor: pointer;
      font-size: 18px;
      align-items: center;
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  .tab-buttons {
    gap: 20px;
    display: flex;
    font-size: 12px;
    padding: 10px 20px;

    .button {
      opacity: 0.5;
      cursor: pointer;

      &.active {
        opacity: 1;
        pointer-events: none;
      }
    }
  }

  .content-scroll {
    flex: 0 auto;
    overflow: hidden auto;

    .input-wrapper {
      padding: 0 20px 20px;
      border-bottom: 1px solid rgba(#fff, 0.1);

      .input-wrapper {
        padding: 0;
      }

      .rich-text {
        font-size: 14px;
      }

      &:last-child {
        border-bottom: none;
      }

      label {
        opacity: 0.6;
        display: block;
        font-size: 12px;
        padding-top: 20px;
        padding-bottom: 5px;
      }

      .components-base-control {
        label {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    input {
      border: none;
      color: #fff;
      padding: 10px;
      background-color: #222;
      border-radius: 5px !important;
    }

    .block-editor-url-input__button-modal-line {
      display: flex;
      background-color: #fff;
      justify-content: space-between;

      .components-base-control {
        flex: 1 auto;
      }
    }

    .tab-item {
      display: none;

      &.active {
        display: block;
      }
    }

    figure {
      width: 100%;
      height: 200px;
      margin-top: 5px;
      border-radius: 8px;
      position: relative;
      left: 0 !important;
      background-color: #f5f5f5;
      overflow: hidden !important;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
        height: 100% !important;
        transform: none !important;
      }

      .wp-action__floating {
        button {
          background-color: rgba(#111, 0.7);
          border-radius: 6px !important;
        }
      }
    }
  }

  .list-item-wrapper {
    border-bottom: 1px solid rgba(#fff, 0.1);

    &-header {
      gap: 20px;
      height: auto;
      display: flex;
      font-size: 12px;
      background-color: #111;
      padding: 5px 20px 5px 5px;
      border-top: none !important;
      justify-content: space-between;

      &-list-title {
        gap: 10px;
        flex: 1 auto;
        display: flex;
        cursor: pointer;
        overflow: hidden;
        align-items: center;

        .icon {
          flex: 0 0 10px;

          svg {
            width: 10px;
            height: 10px;

            path {
              stroke: #fff;
            }
          }
        }

        .title-wrapper {
          flex: 1 auto;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      &-buttons {
        gap: 20px;
        flex: 0 0 80px;
        display: flex;
        justify-content: flex-end;

        .button-container {
          gap: 6px;
          flex: 0 0 25px;
          width: 25px;
          height: 25px;
          display: flex;
          cursor: pointer;
          margin-top: 5px;
          font-size: 11px;
          border-radius: 50%;
          align-items: center;
          background-color: #222;
          text-transform: uppercase;
          justify-content: center;

          &.disabled-delete {
            opacity: 0.3;
            pointer-events: none;
          }

          &:hover {
            background-color: rgb(185, 16, 16);
          }

          svg {
            width: 15px;
            flex: 0 0 15px;

            path {
              stroke: #fff;
            }
          }
        }
      }
    }
  }

  .media-editor {
    gap: 10px;
    width: auto;
    display: flex;
    height: auto !important;
    border: 1px solid rgba(#fff, 0.1);

    img {
      flex: 0 0 100px;
      width: 100px !important;
      height: 80px !important;
    }

    .wp-action__floating {
      flex: 1 auto;
      position: relative;

      button {
        gap: 5px;
        color: #fff;
        padding: 0 10px;
        font-size: 11px;
        text-transform: uppercase;
      }
    }
  }

  .listing-list {
    margin: 5px 0 20px;
    border-radius: 5px;
    border: 1px solid rgba(#fff, 0.1);

    details {
      .input-wrapper {
        padding: 0 20px 20px !important;
      }

      &:first-child {
        .header {
          border-top: none;
        }
      }
    }

    .button-wrapper {
      display: flex;
      padding: 10px 20px;

      .button {
        border: 0;
        font-size: 11px;
        cursor: pointer;
        padding: 6px 10px;
        border-radius: 3px;
        text-transform: uppercase;
        background-color: #333;
      }
    }
  }
}
