@import "./../../assets//styles/utils/functions";

.full-width-banner-two-column {
  width: 100vw;
  height: vw(367);
  position: relative;
  background-color: #16130d;
  border-top: 2.5px solid #7f6e41;
  border-bottom: 2.5px solid #7f6e41;

  @include mobile {
    height: auto;
    border-color: #7f6e41;
  }

  .title {
    z-index: 4;
    color: #bc9f6c;
    position: relative;
    font-size: vw(35);
    font-weight: var(--font-extra);

    @include mobile {
      padding: 0;
      font-size: vw(37);
    }
  }

  .description {
    font-size: vw(24);
    color: #e5e5e5;

    @include mobile {
      font-size: vw(18);
    }
  }

  figure {
    width: 100%;
    height: vw(367);

    @include mobile {
      height: vw(329);
    }

    img {
      width: 100%;
      height: vw(367);
      object-fit: cover;

      @include mobile {
        height: 100%;
      }
    }
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: vw(960) 1fr;

    @include mobile {
      display: block;
    }

    &-detail {
      display: flex;
      height: vw(367);
      flex-direction: column;
      justify-content: center;
      padding: vw(79) vw(99);

      @include mobile {
        height: auto !important;
        padding: vw(49) vw(21) vw(82);
      }

      .description {
        margin-top: vw(23);
        max-width: vw(490);
        line-height: vw(28);

        @include mobile {
          margin-top: vw(24);
          line-height: vw(23);
        }
      }
    }
  }

  &.investing-banner {
    height: vw(423);

    @include mobile {
      height: auto;
    }

    figure {
      height: vw(423);

      @include mobile {
        height: vw(329);
      }

      img {
        height: vw(423);
      }
    }

    .content-wrapper {
      &-detail {
        height: vw(423);
      }
    }
  }
}
