@import "./../../assets//styles/utils/functions";

.homepage-hero-banner {
    height: vw(592);
    overflow: hidden;
    position: relative;

    &.mobile {
        display: none;
    }

    @include mobile {
        height: 287px;

        &.desktop {
            display: none;
        }

        &.mobile {
            display: block;
        }
    }

    &:before {
        content: '';
        width: 100vw;
        z-index: 3;
        bottom: 0;
        height: vw(159);
        position: absolute;
        background-color: #DEE3DD;

        @include mobile {
            display: none;
        }
    }

    .parallax-3d {
        position: absolute;

        img {
            @include mobile {
                max-width: unset;
            }
        }

        &:nth-of-type(1) {
            bottom: 0;
            z-index: 4;

            @include mobile {
                left: vw(-43);
                bottom: vw(-10);
            }

            img {
                height: auto;
                width: vw(1141);

                @include mobile {
                    width: vw(80);
                }
            }
        }

        &:nth-of-type(2) {
            z-index: 2;
            bottom: vw(0);

            @include mobile {
                top: vw(-94);
                left: vw(-29);
                bottom: unset;
                width: vw(478);
            }

            img {
                height: auto;
                width: vw(1920);

                @include mobile {
                    width: 100%;
                    height: auto;
                    max-width: unset;
                    transform: translateY(vw(20));
                }
            }
        }

        &:nth-of-type(3) {
            z-index: 1;
            bottom: 0;
            left: vw(406);

            @include mobile {
                top: vw(155);
                left: vw(82);

            }

            img {
                height: auto;
                width: vw(1441);

                @include mobile {
                    width: vw(195);
                }
            }
        }

        &:nth-of-type(4) {
            top: vw(-192);
            left: vw(35);

            img {
                height: auto;
                width: vw(375);
            }
        }
    }


}