@import "./../../assets//styles/utils/functions";

.requirement {
    .two-grid-column-card {
        padding: 0;

        &::after,
        &::before {
            top: 0;
            height: 100%;
        }
    }

    .full-width-banner {
        height: vw(423);

        figure.desktop {
            height: vw(423);
        }
    }

    .two-column-text {
        .header {
            .title {
                color: #091410;
                font-size: vw(37);
                padding-top: vw(33);
                text-transform: none;
                line-height: vw(37.47);
                letter-spacing: 0.002em;
                font-family: var(--font-bold);
            }
        }

        .body {
            .left {
                .description {
                    max-width: vw(510);
                }
            }
        }
    }
}