@import "./../../assets//styles/utils/functions";

.banner-contact {
    width: 100%;
    height: auto;
    position: relative;
    border-top: 1px solid #7A7A7A;

    figure {
        top: 0;
        z-index: 1;
        width: 100vw;
        height: vw(513);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        z-index: 3;
        display: flex;
        height: vw(487);
        color: #F7F7F7;
        position: relative;
        align-items: center;
        background-color: #231E14;
        padding-left: vw(var(--g-outer-padding));

        figure {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }

        &-a {
            z-index: 3;
            width: 100%;
            display: grid;
            padding-top: vw(43);
            position: relative;
            border-top: 2px solid #937D4D;
            grid-template-columns: 1fr vw(690);

            &-a {
                color: #FFFFFF;
                font-size: vw(35);
                max-width: vw(646);
                font-weight: var(--font-extra);
            }

            &-b {
                padding-top: vw(17);

                &-a {
                    font-size: vw(27);
                    color: #FFF6E1;
                    max-width: vw(323);
                    margin-bottom: vw(23);
                    font-weight: var(--font-semi-bold);
                }

                .primary-button {
                    a {
                        color: #EFEFEF;

                        svg {
                            path {
                                fill: #BA9D63
                            }
                        }
                    }
                }
            }
        }
    }
}