@import "./../../assets//styles/utils/functions";

.vision-list {
  .inner-block-wrapper {
    height: 100%;
    margin: 0 auto;
    display: flex;
    width: vw(1234);
    justify-content: space-between;
    border-right: vw(2) solid #7a7a7a;
    border-left: vw(2) solid #7a7a7a;

    @include mobile {
      width: 100%;
      border: none;
      flex-direction: column-reverse;
    }
  }
  &-inner {
    .header {
      height: vw(188);
      border-bottom: vw(2) solid #bfbfbf;

      @include mobile {
        height: vw(217);
        border-color: #7f6e41;

        &.has-header-cta {
          height: auto;
          padding-bottom: vw(32);
        }
      }

      .inner-block-wrapper {
        flex-direction: column;
        justify-content: flex-end;
        padding: vw(17) vw(26);

        @include mobile {
          padding-left: vw(21);
          padding-bottom: vw(24);
        }

        &.with-cta {
          padding: 0;
          display: flex;
          flex-direction: row;
          align-items: flex-end;

          @include mobile {
            display: block;
          }

          .content {
            flex: 1 auto;
            padding: 0 vw(26) vw(15);

            @include mobile {
              height: vw(210);
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              padding-left: vw(23);
              padding-bottom: vw(43);

              .header-label {
                letter-spacing: -0.007em;
              }

              .header-title {
                margin-top: vw(4);
                letter-spacing: -0.008em;
              }
            }
          }

          .header-cta {
            color: #fff;
            height: 100%;
            display: flex;
            flex: 0 0 vw(576);
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: #937d4d;

            @include mobile {
              height: vw(188);
            }

            .cta-title {
              margin-top: vw(2);
              font-size: vw(24);
              line-height: vw(25);
              margin-bottom: vw(16);
              letter-spacing: -0.005em;
              font-weight: var(--font-bold);
              transform: translateY(vw(1)) translateX(vw(-1));

              @include mobile {
                font-size: vw(22);
                line-height: vw(25);
                margin-bottom: vw(19);
              }
            }

            .primary-button {
              a {
                color: #fff;
                width: vw(210);
                height: vw(49);
                padding-top: vw(1);
                font-size: vw(19);
                line-height: vw(22);
                padding-left: vw(49);
                letter-spacing: -0.01em;
                border: vw(1) solid #fff;
                transform: translateX(vw(-7));

                &::before {
                  background-color: #fff;
                }

                svg {
                  path {
                    fill: #ffe2ae;
                  }
                }

                @include hover {
                  color: #937d4d;

                  svg {
                    path {
                      fill: #937d4d !important;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &-label {
        font-size: vw(28);
        font-weight: var(--font-semi-bold);
        color: var(--color-gold);

        @include mobile {
          font-size: vw(22);
        }
      }

      &-title {
        color: #414042;
        font-size: vw(48);
        font-weight: var(--font-extra);

        @include mobile {
          font-size: vw(36);
          margin-top: vw(5);
        }
      }
    }

    .item-wrapper {
      width: 100%;
      display: flex;
      margin-top: vw(54);
      justify-content: space-between;
      border-top: vw(2) solid #bfbfbf;
      border-bottom: vw(2) solid #bfbfbf;

      @include mobile {
        border-color: #7f6e41;
      }

      .box {
        flex: 1 auto;
        // max-width: 50%;

        &.content-thumb {
          max-width: vw(576);
          flex: 0 0 vw(576);

          @include mobile {
            flex: 0 0 vw(189);
          }
        }

        // Content
        &.content-wrapper {
          gap: vw(27);
          flex: 1 auto;
          display: flex;
          color: #353535;
          padding: vw(30) vw(31);

          @include mobile {
            padding: vw(24) vw(17) vw(66);
            flex-direction: column-reverse;
          }

          .content {
            padding-right: vw(10);

            @include mobile {
              padding-right: 0;
            }
          }

          .list-title {
            font-size: vw(24);
            margin-bottom: vw(6);
            font-weight: var(--font-bold);

            @include mobile {
              font-size: vw(21);
              line-height: vw(25);
            }
          }

          .list-desc {
            font-size: vw(22);
            line-height: vw(26);

            @include mobile {
              font-size: vw(18);
              line-height: vw(21);
              margin-bottom: vw(24);
            }
          }

          svg {
            width: vw(44);
            height: vw(44);
            flex: 0 0 vw(44);
            transform: translateY(vw(7));

            @include mobile {
              transform: none;
              margin-top: vw(2);
              margin-left: vw(3);
            }

            path {
              fill: #939393;

              @include mobile {
                fill: #ba9d63;
              }
            }
          }
        }

        figure {
          width: 100%;
          height: vw(239);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          object-fit: cover;
        }
      }

      &:nth-of-type(even) {
        .inner-block-wrapper {
          flex-direction: row-reverse;

          @include mobile {
            flex-direction: column-reverse;
          }

          .content-wrapper {
            padding-left: vw(2);
            padding-right: 0;
            flex: 0 0 vw(576);

            @include mobile {
              flex: 1 auto;
              padding: vw(24) vw(17) vw(66);
            }
          }
        }
      }
    }

    .footer-container {
      .inner-block-wrapper {
        gap: vw(27);
        height: vw(287);
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include mobile {
          height: vw(247);
          padding-top: vw(55);
          justify-content: flex-start;
        }

        .title {
          font-size: vw(24);
          font-weight: var(--font-semi-bold);

          @include mobile {
            font-size: vw(21);
            line-height: vw(25);
          }
        }

        .primary-button {
          @include mobile {
            width: 100%;
            padding: 0 vw(17);

            a {
              width: 100%;
              justify-content: center;
            }
          }
        }
      }

      &.with-slider {
        .inner-block-wrapper {
          border: none;
          gap: vw(21);
          height: vw(278);
          margin-top: vw(-2);

          @include mobile {
            height: vw(266);
          }

          .title {
            font-size: vw(30);
            line-height: vw(36);
            margin-top: vw(-7);

            @include mobile {
              margin-top: vw(17);
              font-size: vw(23);
              line-height: vw(27);
            }
          }

          .primary-button {
            @include mobile {
              display: flex;
              justify-content: center;
            }
            a {
              height: vw(55);
              padding: 0 vw(29);
              letter-spacing: 0.021em;

              @include mobile {
                height: vw(63);
                width: vw(333);
                letter-spacing: 0.041em;
                padding: 0 vw(26);
              }
            }
          }
        }
      }
    }
  }
}
