:root {
    --font-main: "proxima-nova", sans-serif;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra: 800;
}

body {
    font-weight: 400;
    font-family: var();
    font-size: size(22);

    @include mobile {
        font-size: vw(14);
    }
}

#main-website-wrapper {

    .editor-note {
        font-family: var(--font-main);
    }
}