@import "./../../assets//styles/utils/functions";

.banner-contact-alt {
  display: flex;
  height: vw(444);
  align-items: center;
  position: relative;
  border-top: 2px solid #937d4d;
  border-bottom: 2px solid #937d4d;

  @include mobile {
    height: auto;
    padding-top: vw(55);
    padding-bottom: vw(82);
    flex-direction: column-reverse;
  }

  .content {
    z-index: 2;
    position: relative;
    margin-left: vw(360);

    @include mobile {
      margin-left: 0;
      padding: 0 vw(var(--g-padding-container));
    }

    .title {
      font-weight: var(--font-extra);
      font-size: vw(50);
      color: #333333;

      @include mobile {
        margin-top: vw(40);
        font-size: vw(37);
        line-height: vw(42);
        color: #353535;
        max-width: vw(233);
      }
    }

    .description {
      color: #6b5b39;
      font-size: vw(31);
      margin-top: vw(20);
      max-width: vw(575);
      font-weight: var(--font-bold);

      @include mobile {
        font-size: vw(21);
        line-height: vw(25);
        margin-top: vw(12);
      }
    }

    .primary-button {
      margin-top: vw(32);

      @include mobile {
        margin-top: vw(34);

        a {
          width: 100%;
          height: vw(60);
          justify-content: center;
        }
      }
    }
  }

  figure {
    top: 0;
    z-index: 1;
    width: vw(524);
    display: flex;
    left: vw(1010);
    height: 100%;
    position: absolute;
    align-items: center;
    overflow: visible !important;

    @include mobile {
      left: 0;
      width: 100vw;
      position: relative;
      justify-content: center;
    }

    img {
      width: 100%;
      transform: translateY(-20%);
      height: vw(349.6) !important;
      object-fit: cover;

      @include mobile {
        width: vw(338);
        object-fit: contain;
        height: vw(226) !important;
      }
    }
  }
}
