@import "./../../assets//styles/utils/functions";

.banner-contact-alt {
    display: flex;
    height: vw(444);
    align-items: center;
    position: relative;
    border-top: 2px solid #937D4D;
    border-bottom: 2px solid #937D4D;

    .content {
        z-index: 2;
        position: relative;
        margin-left: vw(360);

        .title {
            font-weight: var(--font-extra);
            font-size: vw(50);
            color: #333333;
        }

        .description {
            color: #6B5B39;
            font-size: vw(31);
            margin-top: vw(20);
            max-width: vw(575);
            font-weight: var(--font-bold);
        }

        .primary-button {
            margin-top: vw(32);
        }
    }

    figure {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;

        img {
            width: 100%;
            object-fit: cover;
        }
    }
}