:root {
  --header-size: 95.6;
  --color-green: #93EA4E;
}

@import './../../blocks/src/assets/styles/utils/functions';
@import './_config';
//@import './plugin/flickity';


/*
========================
GENERAL
========================
*/

html {
  margin: 0;
  padding: 0;
  color: #353535;
  // scroll-behavior: smooth;
  overflow: hidden auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  &.lenis-stopped {
    overflow: hidden !important;
  }
}



#main-website-wrapper {

  * {
    box-sizing: border-box;
  }

}

body {
  margin: 0;
  padding: 0;
  color: #0C0C0C;
  word-wrap: break-word;
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}


a,
button {
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}


main {
  z-index: 9;
  position: relative;
  margin-top: vw(var(--header-size));
}


.container {
  width: 100%;
  margin: 0 auto;
  grid-column: 1/13;
  padding: 0 vw(24);
  max-width: vw(1249);
}


blockquote {
  padding: vw(42);
  border-left: vw(3) solid #0E1A2C;
  background-color: #21409A14
}


figure {
  &.parallax {
    overflow: hidden
  }
}

@import './partials/footer';
@import './partials/header';

.section-wrapper {
  * {
    box-sizing: border-box;
  }
}