@import "./../../assets//styles/utils/functions";

.two-column-text-alt {
  width: 100vw;
  display: flex;
  height: vw(576);
  position: relative;
  align-items: center;
  justify-content: center;

  .content {
    z-index: 2;
    position: relative;

    &-a {
      margin-bottom: vw(18);
    }

    &-b {
      margin-bottom: vw(46);
    }

    &-c {
      max-width: vw(546);
    }
  }

  figure {
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &.reverse {
    .content {
      padding-left: vw(655);
    }
  }
}
