@import "./../../assets//styles/utils/functions";

.two-grid-column-card {
  padding: vw(77) 0 vw(119);
  position: relative;

  @include mobile {
    padding-top: vw(63);
    padding-bottom: 0;
  }

  &:after,
  &::before {
    width: 2px;
    top: vw(77);
    bottom: vw(119);
    height: auto;
    content: "";
    position: absolute;
    background-color: #937d4d;

    @include mobile {
      display: none;
    }
  }

  &::before {
    left: vw(var(--g-outer-padding));
  }

  &:after {
    right: vw(var(--g-outer-padding));
  }

  .content {
    display: grid;
    border-bottom: 2px solid #937d4d;
    grid-template-columns: repeat(2, 1fr);

    @include mobile {
      display: block;
      border-bottom: 0;
    }

    .card-wrapper {
      &-a {
        gap: vw(28);
        width: 100%;
        display: flex;
        height: vw(92.6);
        position: relative;
        align-items: center;
        border-top: 2px solid rgba(#414042, 0.4);
        border-bottom: 2px solid rgba(#414042, 0.4);
        padding: 0 vw(var(--g-outer-padding));

        @include mobile {
          gap: vw(14);
          height: auto;
          align-items: flex-start;
          padding: vw(31) vw(var(--g-padding-container)) vw(28);
        }

        .icon {
          width: vw(43);
          display: flex;
          height: vw(40);
          margin-left: vw(28);
          align-items: center;
          border: 1.5px solid #afafaf;
          justify-content: center;

          @include mobile {
            margin: 0;
            height: vw(44);
            flex: 0 0 vw(47.5);
            transform: translateY(vw(7));
          }

          svg {
            width: vw(24);
            height: vw(24);
          }
        }

        h2 {
          font-size: vw(35);
          color: #231e14;
          margin-bottom: 0;

          @include mobile {
            font-size: vw(30);
            line-height: vw(36);
          }
        }
      }

      &-b {
        padding: 0 vw(var(--g-outer-padding));

        @include mobile {
          padding: vw(25) vw(var(--g-padding-container)) vw(68);
        }

        .description {
          height: vw(221);
          max-width: vw(589);
          padding-top: vw(18);
          padding-left: vw(98);
          font-size: vw(21);
          color: #3d3122;

          @include mobile {
            padding: 0;
            height: auto;
            font-size: vw(18);
            color: #353535;
          }
        }
      }

      &:nth-of-type(even) {
        .card-wrapper-a {
          padding-left: 0;

          @include mobile {
            padding-left: vw(var(--g-padding-container));

            &:before {
              content: "";
              height: 100%;
              position: absolute;
              background-color: #937d4d;
              width: vw(var(--g-outer-padding));
              right: 0;
              top: 0;
              width: vw(21);
            }
          }
        }

        .card-wrapper-b {
          padding-left: 0;

          @include mobile {
            padding-left: vw(var(--g-padding-container));
          }
        }
      }

      &:nth-of-type(odd) {
        border-right: 2px solid #937d4d;

        .card-wrapper-a {
          padding-right: 0;

          &:before {
            left: 0;
            content: "";
            height: 100%;
            position: absolute;
            background-color: #937d4d;
            width: vw(var(--g-outer-padding));

            @include mobile {
              right: 0;
              top: 0;
              left: unset;
              width: vw(21);
            }
          }
        }

        .card-wrapper-b {
          padding-right: 0;

          @include mobile {
            padding-right: vw(var(--g-padding-container));
          }
        }
      }
    }
  }

  &.new-ui {
    .content {
      .card-wrapper {
        &-a {
          h2 {
            font-weight: var(--font-extra);
          }
        }

        &-b {
          @include mobile {
            letter-spacing: -0.002em;
          }
        }
      }
    }
  }
}
