@import "./../../assets//styles/utils/functions";

.two-column-card {
    position: relative;
    padding: vw(121) 0 vw(180);

    &:before,
    &::after {
        top: 0;
        z-index: 3;
        content: '';
        width: 2px;
        opacity: 0.5;
        height: 100%;
        position: absolute;
        background-color: #7A7A7A;
    }

    &::before {
        left: vw(var(--g-outer-padding));
    }

    &::after {
        right: vw(358);
    }

    h2 {
        color: #231E14;
        border-bottom: 2px solid #7F6E41;
        padding: 0 vw(calc(var(--g-outer-padding) + 28));
        padding-bottom: vw(18);
        font-size: vw(40);
    }

    .column {
        &-item {
            display: flex;
            margin: vw(52) 0;
            justify-content: space-between;
            border-top: 2px solid #7F6E41;
            border-bottom: 2px solid #7F6E41;
            padding-left: vw(calc(var(--g-outer-padding) + 32));
            padding-right: vw(358);

            &:last-child {
                margin-bottom: 0;
            }


            &-a {
                gap: vw(30);
                flex: 1 auto;
                display: flex;
                padding: vw(31) 0;

                svg {
                    width: vw(42);
                    height: vw(42);
                    flex: 0 0 vw(42);
                    transform: translateY(vw(6));
                }


                .content {
                    color: #353535;
                    font-size: vw(22);
                    max-width: vw(518);
                    line-height: vw(26);

                    .b2 {
                        font-size: vw(24);
                        margin-bottom: vw(5);
                        font-weight: var(--font-bold);
                    }
                }
            }

            figure {
                height: vw(239);
                flex: 0 0 vw(576);

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            &:nth-of-type(even) {
                padding-left: vw(var(--g-outer-padding));
                flex-direction: row-reverse;

                .column-item-a {
                    flex: 0 0 vw(576);

                    .content {
                        max-width: vw(473);
                    }
                }
            }
        }
    }
}