@import "./../../assets//styles/utils/functions";

.partner-gallery {
  padding: vw(98) 0;

  @include mobile {
    padding-top: vw(69);
    padding-bottom: vw(57);
    background-color: #fff;
  }
  h2 {
    width: 100%;
    text-align: center;
    color: #6b5b38;
    font-size: vw(30);

    @include mobile {
      color: #353535;
      font-size: vw(18);
      line-height: vw(21);
    }
  }

  .partner-logo-container {
    gap: 0;
    display: flex;
    margin-top: vw(55);
    align-items: center;
    justify-content: center;

    @include mobile {
      margin-top: vw(83);
      align-items: center;
      flex-direction: column;
    }

    .logo {
      &:nth-of-type(1) {
        flex: 0 0 vw(240);
        width: vw(240);
        margin-right: vw(85);

        @include mobile {
          margin-right: 0;
          width: vw(240);
          flex: 0 0 auto;
          margin-bottom: vw(57);
        }
      }

      &:nth-of-type(2) {
        flex: 0 0 vw(300);
        width: vw(300);
        margin-right: vw(95);

        @include mobile {
          margin-right: 0;
          flex: 0 0 auto;
          margin-bottom: vw(39);
        }
      }

      &:nth-of-type(3) {
        flex: 0 0 vw(231);
        width: vw(231);

        @include mobile {
          flex: 0 0 auto;
          margin-bottom: vw(-3);
        }
      }

      &:nth-of-type(4) {
        flex: 0 0 vw(200);
        margin-left: vw(78);
        width: vw(200);

        @include mobile {
          margin-left: 0;
          flex: 0 0 auto;
        }
      }

      figure {
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  &.new-ui {
    padding: vw(112) 0 vw(106);

    @include mobile {
      padding: vw(69) 0 vw(79);
    }

    h2 {
      margin-bottom: vw(79);
      letter-spacing: -0.005em;

      @include mobile {
        margin-bottom: vw(82);
      }
    }
    .partner-logo-container {
      display: grid;
      margin: 0 auto;
      row-gap: vw(44);
      max-width: vw(1068);
      transform: translateX(vw(7));
      grid-template-columns: repeat(3, 1fr);

      @include mobile {
        display: block;
        transform: none;
      }

      .logo {
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        figure {
          width: 100%;
          height: vw(218);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;

          @include mobile {
            height: auto;
          }
        }

        &:nth-of-type(1) {
          justify-content: flex-start;

          @include mobile {
            justify-content: center;
            margin-bottom: vw(56);
          }

          figure {
            width: vw(261);
            height: vw(100);

            @include mobile {
              width: vw(240);
              height: auto;
            }
          }
        }

        &:nth-of-type(2) {
          @include mobile {
            margin-bottom: vw(41);
          }
          figure {
            width: vw(328);
            height: vw(77);
            transform: translateX(vw(-6));
            @include mobile {
              width: vw(300);
              height: auto;
              transform: none;
            }
          }
        }

        &:nth-of-type(3) {
          justify-content: flex-end;
          @include mobile {
            margin-bottom: 0;
            justify-content: center;
          }
          figure {
            width: vw(252);
            height: vw(171);
            transform: translateX(vw(-21));
            @include mobile {
              width: vw(231);
              height: auto;
              transform: none;
            }
          }
        }

        &:nth-of-type(4) {
          justify-content: flex-start;
          @include mobile {
            margin-bottom: vw(41);
            justify-content: center;
          }
          figure {
            width: vw(218);
            height: vw(218);
            transform: translateX(vw(13));

            @include mobile {
              width: vw(200);
              height: vw(200);
              transform: none;
            }
          }
        }

        &:nth-of-type(5) {
          @include mobile {
            margin-bottom: vw(69);
          }
          figure {
            width: vw(304);
            height: vw(105);
            transform: translateX(vw(-5));

            @include mobile {
              width: vw(251);
              height: vw(87);
              transform: none;
            }
          }
        }

        &:nth-of-type(6) {
          justify-content: flex-end;
          @include mobile {
            justify-content: center;
          }
          figure {
            width: vw(282);
            height: vw(160);
            transform: translateX(vw(-5));

            @include mobile {
              width: vw(261);
              height: vw(148);
              transform: none;
            }
          }
        }
      }
    }
  }
}
