@import "./../../assets//styles/utils/functions";

.hero-banner {
  display: grid;
  height: vw(800);
  grid-template-columns: vw(1125) 1fr;
  border-bottom: 2.6px solid var(--color-gold);

  &.new-ui-pipeline-page {
    .content-a-b {
      @include mobile {
        margin-bottom: vw(41);
        letter-spacing: -0.005em;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    // left: vw(-293);
    position: relative;
    object-fit: cover;

    @include mobile {
      left: 0;
      width: 100%;
    }
  }

  @include mobile {
    display: flex;
    height: auto;
    flex-direction: column-reverse;

    .background {
      width: 100vw;
      height: vw(354);
      flex: 0 0 vw(354);
      border-bottom: 2.6px solid var(--color-gold);
    }
  }

  .content {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding-left: vw(358);
    padding-right: vw(85);

    &.hero-alt {
      padding-right: 0;

      @include mobile {
        padding-right: 0 !important;
      }
    }

    @include mobile {
      padding: vw(56) vw(var(--g-padding-container)) vw(51) !important;
    }

    .h1 {
      font-weight: 800;
      font-size: vw(64);
      color: #353535;
      margin-bottom: vw(31);
      letter-spacing: -0.009em;
      line-height: vw(64.71);

      @include mobile {
        // font-size: vw(40);
        // line-height: vw(49);
        // letter-spacing: 0.02em;
        margin-bottom: vw(12);
        font-size: vw(37);
        line-height: vw(43);
      }
    }

    &::before {
      top: 0;
      right: 0;
      width: 1px;
      border-right: var(--g-border);
      content: "";
      height: 100%;
      position: absolute;

      @include mobile {
        display: none;
      }
    }

    &:after {
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: radial-gradient(
        circle closest-corner at center,
        rgba(255, 255, 255, 1) 52.61%,
        rgba(253, 253, 253, 0.81) 62.14%,
        rgba(244, 244, 244, 0.7) 67.51%,
        rgba(231, 231, 231, 0.61) 71.86%,
        rgba(211, 211, 211, 0.53) 75.66%,
        rgba(185, 185, 185, 0.46) 79.09%,
        rgba(154, 154, 154, 0.4) 82.27%,
        rgba(116, 116, 116, 0.34) 85.25%,
        rgba(73, 73, 73, 0.28) 88.07%,
        rgba(25, 25, 25, 0.22) 90.67%,
        rgba(0, 0, 0, 0.2) 91.88%
      );
      opacity: 0.9;
    }

    &-a {
      z-index: 9;
      width: 100%;
      position: relative;

      .label {
        width: 100%;
        font-size: vw(26);
        margin-bottom: vw(16);
        padding-bottom: vw(6);
        color: var(--color-gold);
        letter-spacing: -0.01em;
        font-weight: var(--font-semi-bold);
        border-bottom: 2.7px solid var(--color-gold);

        @include mobile {
          font-size: vw(22);
          margin-bottom: vw(13);
        }
      }

      &-b {
        font-weight: 700;
        font-size: vw(31);
        padding-right: vw(26);
        margin: vw(20) 0 vw(51);
        color: var(--color-gold);
        font-weight: var(--font-bold);

        @include mobile {
          padding-right: 0;
          margin-top: vw(11);
          padding-left: vw(2);
          font-size: vw(21);
          line-height: vw(26);
          margin-bottom: vw(38);
        }
      }

      &--inner {
        padding-right: vw(85);

        @include mobile {
          padding-right: vw(47);
        }

        .h1 {
          margin-bottom: vw(24);

          @include mobile {
            font-size: vw(37);
            margin-bottom: vw(9);
          }
        }

        .content-a-b {
          margin-bottom: vw(46);

          @include mobile {
            font-size: vw(21);
            margin-top: vw(12);
            margin-bottom: vw(36);
            letter-spacing: -0.006em;
          }
        }

        .buttons-action {
          gap: vw(28);
          display: flex;

          @include mobile {
            display: block;

            .primary-button {
              width: vw(228);
            }
          }

          .button-gold {
            background-color: var(--color-gold);

            @include mobile {
              margin-top: vw(18);
            }

            a {
              z-index: 1;
              color: #fff;

              &::before {
                // z-index: 4;
                background-color: #fff;
              }

              svg {
                path {
                  stroke: #ffe2ae;
                }
              }

              @include hover {
                color: var(--color-gold);

                svg {
                  path {
                    stroke: var(--color-gold);
                  }
                }
              }
            }
          }
        }
      }

      .primary-button {
        @include mobile {
          margin-left: vw(3);
          a {
            width: vw(228);
            height: vw(49);
            justify-content: center;
          }
        }
      }
    }
  }

  &.new-ui-home-page {
    @include mobile {
      .content {
        padding-top: vw(52) !important;
        padding-left: vw(18) !important;

        h1 {
          line-height: vw(46);
          font-size: vw(42);
          margin-bottom: vw(30);
        }

        .b1 {
          font-size: vw(28);
          line-height: vw(32);
          margin-bottom: vw(33);
        }
      }
    }
  }
}

.hero-banner.new-ui-hero-banner {
  .content {
    @include mobile {
      padding-top: vw(43) !important;
    }
    &-a {
      &_a {
        margin-bottom: vw(11) !important;

        @include mobile {
          line-height: vw(52) !important;
          font-size: vw(48) !important;
        }
      }

      &-b {
        @include mobile {
          font-size: vw(28);
          line-height: vw(32);
        }
      }
    }
  }
}
