@import "./../../assets//styles/utils/functions";

.normal-hero-banner {
    height: vw(602);
    overflow: hidden;


    figure {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include mobile {
        height: vw(286);

        figure {
            width: 100%;
            height: vw(286);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .mobile {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}